
{% block fos_user_content %}
<div class="login-box">
  <div class="login-logo">
    <a href="{{path('homepage')}}"><b>Smart</b>Time</a>
  </div>


        <div class="login-box-body">
            <p class="login-box-msg">Cambiar Contraseña</p>

            <div class="panel-body" >


			<form action="{{ path('fos_user_resetting_reset', {'token': token}) }}" method="POST" class="fos_user_resetting_reset">

				{{form_start(form)}}


                <div class="form-group">
                  	{{form_row(form.plainPassword.first,{'attr': {'class': 'form-control','placeholder':'Nueva Contraseña'}})}}


                </div>
            	 <div class="form-group">
                  	{{form_row(form.plainPassword.second,{'attr': {'class': 'form-control','placeholder':'Confirmar Nueva Contraseña'}})}}
                </div>
                <div class="form-group">
			        <button type="submit" class="btn btn-primary btn-block" value="">
			        	{{ 'resetting.reset.submit'|trans({}, 'FOSUserBundle') }}
			        </button>
			    </div>

			    {{form_end(form)}}

			</form>
        </div>
    </div>
</div>
{% endblock %}
