{% extends '::base.html.twig' %}

{% block javascripts %}
    <script src="{{asset('js/confirm-dialog.js')}}"></script>
{% endblock %}

{% block link %}
    <li><a href="{{path('homepage')}}"><i class="fa fa-link"></i>Dashboard</a></li>
     <li><a href="{{path('proyectopresupuesto')}}"><i class="fa fa-link"></i>Listado Presupuestos</a></li>
    <li class="active"></i>Editar Presupuesto</li>
{% endblock %}

{% block title %}
    Editar Presupuesto
{% endblock %}

{% block body -%}
	<br>
    <h1>Editar Proyecto De Presupuesto</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a class = "btn btn-primary" href="{{ path('proyectopresupuesto') }}">
            Ver todos
        </a>
    </li>
    {% if is_granted('ROLE_ELIMINAR_PRESUPUESTOS') %}
    <li><button id="simple-confirm" class="btn btn-danger">Eliminar</button></li>
    <div class="modal">
   {{ form(delete_form) }}
    {% endif %}
</ul>
{% endblock %}
