{% extends '::base.html.twig' %}

{% block link %}
    <li><a href="{{path('homepage')}}"><i class="fa fa-link"></i>Dashboard</a></li>
    <li class="active"></i>Listado Presupuestos</li>
{% endblock %}

{% block title %}
    Listado Presupuestos    
{% endblock %}

{% block javascriptDataTables %}
    
    <script src = {{asset('js/dataTablesInit.js')}}>
    </script>
{% endblock %}


{% block body -%}
    <br>
    <h1>Listado general de proyectos de presupuesto</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nombre Proyecto Presupuesto</th>
                <th>Cantidad registros de presupuesto </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{entity.nombrePresupuesto}}</td>
                <td>{{ entity.presupuestoIndividual | length}}
                <td>
                <ul>
                    <li>
                        <a class="btn btn-info btn-xs" href="{{ path('proyectopresupuesto_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>
                    {% if is_granted('ROLE_EDITAR_PRESUPUESTO') %}
                        <li>
                            <a class="btn btn-warning btn-xs" href="{{ path('proyectopresupuesto_edit', { 'id': entity.id }) }}">Editar</a>
                        </li>
                    {% endif %}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-default btn-block" href="{{ path('proyectopresupuesto_new') }}">
        Crear nuevo registro
    </a>
      
    {% endblock %}
