{% extends '::base.html.twig' %}

{% block body %}
    <h1>ProyectoPresupuesto</h1>

    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Nombre Proyecto presupuesto</th>
                <td>{{ entity.nombrePresupuesto }}</td>
            </tr>
            <tr>
                <th>Honorarios</th>
                <td>{{ entity.honorarios }}</td>
            </tr>
            {%for socio in entity.socios %}
             <tr>
                <th>Socio</th>
                <td>{{ socio }}</td>
            </tr>
            {% endfor %}
            {%for gerente in entity.gerentes %}
             <tr>
                <th>Gerente</th>
                <td>{{ gerente }}</td>
            </tr>
            {% endfor %}
            {% set contador = 0 %}
            {% for presupuesto in entity.presupuestoIndividual %}
             <tr>
                <th>Código Prespuesto Asociado</th>
                <td>{{ presupuesto }}    <button type="button" class="btn btn-xs btn-info" data-toggle="modal" data-target="#modalProyectoPresupuesto{{contador}}">
               Mostrar presupuesto
              </button>
                </td>
            </tr>
            {% set contador = contador + 1 %}
           {% endfor %}
        </tbody>
    </table>
   
        <ul class="record_actions">
             {% if is_granted('ROLE_EDITAR_PRESUPUESTO') %}
            <li>
                <a class="btn btn-default" href="{{ path('proyectopresupuesto_edit', { 'id': entity.id }) }}">
                    Editar
                </a>
                 
            </li>
            {% endif %}
            {% if is_granted('ROLE_ELIMINAR_PRESUPUESTOS') %}
                <li>{{ form(delete_form) }}</li>
            {% endif %}
        </ul>
   
{% set contador = 0 %}
{% for presupuesto in entity.presupuestoIndividual %}
    {% include 'AppBundle:ProyectoPresupuesto:modal_showProyectoPresupuesto.html.twig' %}
    {% set contador = contador + 1 %}
{% endfor %}
{% endblock %}
