{% extends '::base-without-datatable.html.twig' %}
  
    {% block title %}
        Aprobar Horas
    {% endblock %}
    {% block javascripts %}
        {{ form_javascript(form) }}
        <script src="{{asset('js/datatables/moment-highlight-fosrouter.js')}}"></script>
        <script src="{{ path('fos_js_routing_js', {'callback': 'fos.Router.setData'}) }}"></script>
        j
     {% endblock %}
     {% block stylesheets %}
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/x-editable/1.5.1/bootstrap3-editable/css/bootstrap-editable.css"/>
     {% endblock %}
        
    {% block body -%}
        <h1>Buscar registros por fecha</h1>
            {{form_start(form)}}
            <div class="row">
                <div class="col-md-6">
                {% form_theme form _self %}

                {% block _consulta_aprobacionhoras_fechaInicio %}
                    <div class="form-inline">
                        
                       {{ form_row(form.fechaInicio)}}
                     </div>
                   
                {% endblock %}
                </div>
                <div class="col-md-6">
                     {% form_theme form _self %}

                    {% block _consulta_aprobacionhoras_fechaFinal %}
                        <div class="form-inline">
                            
                           {{ form_row(form.fechaFinal)}}
                         </div>
                       
                    {% endblock %}
                </div>
            </div>
            <div class="row">
               <div class="col-md-10">
                    {{form_row(form.submit)}}
               </div>
            </div>
            {{form_end(form)}}
        <h2>Horas Realizadas por {{usuario}}</h1>
        {{ datatable_render(datatable) }}
        <br>
        <br>
    {% endblock %}
