{% extends '::base.html.twig' %}

{% block link %}
    <li><a href="{{path('homepage')}}"><i class="fa fa-link"></i>Dashboard</a></li>
     <li><a href="{{path('actividad')}}"><i class="fa fa-link"></i>Lista Actividades</a></li>
    <li class="active">Editar Actividad</li>
{% endblock %}

{% block title %}
    Editar Actividad
{% endblock %}

{% block body -%}
    <h1>Editar Actividad</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-default" href="{{ path('actividad') }}">
           Ver todas las actividades
        </a>
    </li>
    {% if is_granted('ROLE_ELIMINAR_ACTIVIDADES') %}
        <li><button id="simple-confirm" class="btn btn-danger">Eliminar</button> </li>
    	<div class="modal">
      {{ form(delete_form) }}
    </div>
	{% endif %}
</ul>
{% endblock %}

{% block javascripts %}
   <script src="{{asset('js/confirm-dialog.js')}}"></script>
{% endblock %}