{% extends '::base.html.twig' %}

{% block stylesheets %}
   
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ form_javascript(form) }}
   <script src="{{asset('js/showHideElements.js')}}"></script>
   <script>
        //forma de arreglar bug cuando se recarga javascript
        //en campo de date.
        var verifier = {{ verificador|json_encode|raw }};

    </script>
   <script src="{{asset('js/dateModifier.js')}}"></script>
{% endblock %}
{% block body -%}
	<br>
	{{ form(form)}}
   
    <br>
    <h1>Consulta Proyecto Presupuesto {{nombrePresupuesto}}</h1>
   
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Actividad</th>
                <th>Cliente</th>
                <th>Horas invertidas</th>
                <th>Horas Presupuesto</th>
                <th>Horas Diferencia</th>
                <th>CostoPresupuesto</th>
                <th>CostoReal</th>
                <th>Acción</th>
            </tr>
        </thead>
        <tbody>
      
        {% for consulta in consultasPorActividades %}
        	

            <tr>
                <td>{{consulta.actividad}}</td>
                <td>{{consulta.cliente}}</td>
                <td>{{consulta.horasCalculadas}}</td>
                <td>{{consulta.horasPresupuesto}}</td>

                {% if consulta.diferencia < 0 %}
                	<td><font color="red"><b>{{consulta.diferencia }}<b></font></td>
                {% else %}
                	 <td><b>{{ consulta.diferencia  }}<b></td>
                {% endif %}
                <td>{{consulta.costoPresupuesto | number_format(2, '.', ', ')}}</td>
                <td>{{consulta.costoTotal | number_format(2, '.', ', ')}}</td>
                <td>
                	<a  href="{{ path('presupuesto_individual', { 'id': consulta.presupuestoId }) }}" class="btn btn-xs btn-info">Mostrar detalle</a>
                </td>
            </tr>
           
        {% endfor %}
           
        <tr>
                <td><b>Totales:<b> </td>
                <td> </td>
                <td> 
                    <b> 
                        <font color="#27ae60">
                            {{sum_horas(consultasPorActividades)}}
                        </font>
                    </b>    
                </td>
                 <td> 
                    <b> 
                        <font color="#27ae60">
                            {{sum_presupuesto(consultasPorActividades)}}
                        </font>
                    </b>    
                </td>
                <td> 
                    <b> 
                        <font color="#27ae60">
                            {{sum_diferencia(consultasPorActividades)}}
                        </font>
                    </b>    
                </td>
                <td>
                    <b>
                        <font color="#27ae60">
                            {{sum_costo_presupuesto(consultasPorActividades) | number_format(2, '.', ', ')}}
                        </font>
                    </b>
                </td>
                <td>
                    <b>
                        <font color="#27ae60">
                            {{sum_costo(consultasPorActividades) | number_format(2, '.', ', ')}}
                        </font>
                    </b>
                </td>
                <td> </td>
        </tr>
        </tbody>
    </table>
      <br>
      <br>
    {% endblock %}
