{% extends '::base.html.twig' %}

{% block body -%}
	<br>
	<br>
    <h1>Consulta Detallada por Cliente</h1>
    <h2>Presupuesto de este cliente:{{presupuesto}} </h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Actividad</th>
                <th>Puesto</th>
                <th>Cliente</th>
                <th>Fecha de las horas invertidas</th>
                <th>Fecha de ingreso</th>
                <th>Horas invertidas (costo)</th>
                <th>Presupuesto Acumulado</th>
                
            </tr>
        </thead>
        <tbody>
             {% set pActual = presupuesto %}
            {% for registro in registros %}

            <tr>
                <td>{{registro.cliente}}</td>
                <td>{{registro.actividad}}</td>
                <td>{{registro.ingresadoPor.getPuestoActual()}}</td>
                <td>{{registro.cliente}}</td>
                <td>{{registro.fechaHoras|date('d-m-Y')}}</td>
                <td>{{registro.fechaCreacion|date('d-m-Y')}}</td>
                <td>{{registro.horasInvertidas}}</td>
                {% set pActual = pActual - registro.horasInvertidas %}
                <td>{{pActual}}</td>
               


            </tr>
            {% endfor %}
        </tbody>
    </table>
    
    	

      <br>
      <br>
    {% endblock %}
