{% extends '::base.html.twig' %}

{% block body -%}
	<br>
	<br>
    <h1>Consulta Detallada por Cliente</h1>
    <h2>Presupuesto de este cliente:{{presupuesto}} </h2>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Cliente</th>
                <th>Actividad</th>
                <th>Ingresado Por</th>
                <th>Fecha de las horas invertidas</th>
                <th>FechaIngreso</th>
                <th>Horas invertidas</th>
                <th>Presupuesto Acumulado</th>
                <th>CostoReal</th>
                
            </tr>
        </thead>
        <tbody>
            {% set pActual = presupuesto %}
            {% set cont = 0 %}
            
            {% for registro in registros %}
            <tr>
                <td>{{registro.cliente}}</td>
                <td>{{registro.actividad}}</td>
                <td>{{registro.ingresadoPor}}</td>
                <td>{{registro.fechaHoras|date('d-m-Y')}}</td>
                <td>{{registro.fechaCreacion|date('d-m-Y')}}</td>
                <td>{{registro.horasInvertidas}}</td>
                {% set pActual = pActual - registro.horasInvertidas %}
                <td>{{pActual}}</td>

                 {% if costoReal is not empty %}
                    <td>{{costoReal[cont]  | number_format(2, '.', ', ')}}</td>
                {% else %}
                    <td> 0.00 </td>
                {% endif %}
               
                {% set cont = cont + 1 %}


            </tr>
            {% endfor %}
            <tr>
                <td><b>Total<b> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> </td>
                <td> 
                    <b>
                        <font color="#000000"> 
                            Q {{sum_array(costoReal) | number_format(2, '.', ', ')}} 
                        </font>
                    </b>
                </td>
                

            </tr>
        </tbody>
    </table>
    
    	

      <br>
      <br>
    {% endblock %}
