<!DOCTYPE html>
    <head>
   
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Smart Time</title>
        <meta name="description" content="">
        <meta name="author" content="Newton Labs">
        <meta name="viewport" content="width=device-width">

        
       
        <script src="{{asset('js/vendor/jquery-1.10.1.min.js')}}"></script>

        

        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        #f6 {
            font-weight: 200;
            height: 50px;
            width: 50px;
        }
        </style>
        <link rel="stylesheet" href="{{asset('css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{asset('css/main.css')}}"> 
        <link rel="stylesheet" href="{{ asset('css/select2.min.css')}}">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
       <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/t/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.11,af-2.1.1,b-1.1.2,b-colvis-1.1.2,b-flash-1.1.2,b-html5-1.1.2,b-print-1.1.2,cr-1.3.1,fc-3.2.1,fh-3.1.1,kt-2.1.1,r-2.0.2,rr-1.1.1,sc-1.4.1/datatables.min.css"/>

        {% block stylesheets %}
        {% endblock stylesheets %}
        <script src="{{asset('js/vendor/modernizr-2.6.2-respond-1.1.0.min.js')}}"></script>
  
    </head>
    <body>
      {% include 'default/menu.html.twig' %}
      <div class="col-md-1"></div>
      <div class="col-md-10">
        {% block body %}
        {% endblock body %}
   </div>
   <div class="col-md-12 col-md-offset-1">
      <footer>
        <p>&copy; Díaz Reyes &amp; Asociados, S.A. 2016 creado por Newton Labs. Derechos reservados.</p>
      </footer>
        
     </div>
        

       

        <script src="{{asset('js/vendor/bootstrap.min.js')}}"></script>
        <script src="{{asset('js/jquery.bsAlerts.min.js')}}"></script>
        <script src="{{ asset('js/select2.min.js')}}"></script>
        <script src="{{asset('js/main.js')}}"></script>
        <script src="{{asset('js/bc-bootstrap-collection.js')}}"></script>
        <script src="{{asset('js/jquery.initialize.js')}}"></script>
      <script type="text/javascript" src="https://cdn.datatables.net/t/bs/jszip-2.5.0,pdfmake-0.1.18,dt-1.10.11,b-1.1.2,b-colvis-1.1.2,b-flash-1.1.2,b-html5-1.1.2,b-print-1.1.2,cr-1.3.1,r-2.0.2/datatables.min.js"></script>
        {% block javascriptDataTables %}
        {% endblock javascriptDataTables %}
        
         <script type="text/javascript">
                (function(){
                        $("select").initialize( function(){
                     $(this).select2();
                    
                 

                });
                       
                          
                })();
        </script>
       <script>    
            var table = $('table').dataTable( {
                    aaSorting: [],
                    bDestroy : true,
                    columnDefs: [
                        { "width": "20%", "targets": 0 }
                    ],
                    bSortable: true,
                    sPaginationType: "full_numbers",
                    autoFill: true,
                    lengthMenu: [[10, 25, 50, -1], [10, 25, 50, "Todo"]],
                    colReorder: true,
                    dom: 'Blfrtip',
                    buttons: [
                    {
                        extend: 'copy',
                        text: 'copiar',
                        className: 'btn btn-default btn-xs'
                    },
                   {
                        extend: 'csv',
                        text: 'csv',
                        className: 'btn btn-default btn-xs'
                    },
                    {
                        extend: 'excel',
                        text: 'excel',
                        className: 'btn btn-default btn-xs'
                    },
                    {
                        extend: 'pdf',
                        text: 'pdf',
                        className: 'btn btn-default btn-xs'
                    },
                    {
                        extend: 'print',
                        text: 'imprimir',
                        className: 'btn btn-default btn-xs'
                    },
                    
                    ],
                    language: {
                        "url": "{{ asset('Json/Spanish.json')}}"
                    }
                } );
        
        </script>


        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        {% block javascripts %}
        {% endblock javascripts %}
    </body>
</html>
