<!DOCTYPE html>
    <head>
   
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Díaz Reyes &amp; Asociados,S.A.</title>
        <meta name="description" content="">
        <meta name="author" content="Newton Labs">
        <meta name="viewport" content="width=device-width">

        
       
        
        <style>
            body {
                padding-top: 50px;
                padding-bottom: 20px;
            }
        #f6 {
    font-weight: 200;
    height: 50px;
    width: 50px;
}
        </style>
        <link rel="stylesheet" href="{{asset('css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{asset('css/main.css')}}"> 
        <link rel="stylesheet" href="{{ asset('css/jquery.dataTables.min.css')}}">
        <link rel="stylesheet" href="{{ asset('css/select2.min.css')}}">
        {% block stylesheets %}
        {% endblock stylesheets %}
        <script src="{{asset('js/vendor/modernizr-2.6.2-respond-1.1.0.min.js')}}"></script>

  
    </head>
    <body>
      {% include 'default/menu.html.twig' %}
        {% block body %}
        {% endblock body %}
      <footer>
        <p>&copy; Díaz Reyes &amp; Asociados, S.A. 2016 creado por Newton Labs. Algunos derechos reservados.</p>
      </footer>
        

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>

        <script src="{{asset('js/vendor/bootstrap.min.js')}}"></script>
        <script src="{{asset('js/jquery.bsAlerts.min.js')}}"></script>
        <script src="{{ asset('js/jquery.dataTables.min.js') }}"></script>
        <script src="{{ asset('js/select2.min.js')}}"></script>
        <script src="{{asset('js/main.js')}}"></script>
         <script type="text/javascript">
                    $('select').select2();
        </script>
        <script>
            $('table').dataTable( {
                    "language": {
                        "url": "{{ asset('Json/Spanish.json')}}"
                    }
                } );
        </script>


        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        {% block javascripts %}
        {% endblock javascripts %}
    </body>
</html>
