{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Listado de Contactos para los Clientes</h1>
    <br>
    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Nombre Contacto</th>
                <th>Puesto</th>
                <th>Teléfonos contacto</th>
                <th>Correos contacto</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nombreContacto }}</td>
                <td>{{ entity.puesto }} </td>
                {% for telefono in entity.telefonoContacto %}
                    <td>{{ telefono }}</td>
                {% endfor %}
                {% if entity.telefonoContacto is empty %}
                    <td></td>
                {% endif %}
                {% for correo in entity.correoContacto %}
                    <td>{{ correo }}</td>
                {% endfor %}
                {% if entity.correoContacto is empty %}
                    <td></td>
                {% endif %}
              
                <td>
                <ul>
                    <li>
                        <a class="btn btn-xs btn-default" href="{{ path('contactocliente_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a class="btn btn-xs btn-warning" href="{{ path('contactocliente_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

      
            <a class="btn btn-default btn-block" href="{{ path('contactocliente_new') }}">
              Crear Nuevo contacto
            </a>

    <br>
    {% endblock %}
