{% extends '::base.html.twig' %}

{% block body -%}
    <h1>ContactoCliente</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombrecontacto</th>
                <td>{{ entity.nombreContacto }}</td>
            </tr>
            <tr>
                <th>Telefonocontacto</th>
                <td>{{ entity.telefonoContacto }}</td>
            </tr>
            <tr>
                <th>Correocontacto</th>
                <td>{{ entity.correoContacto }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('contactocliente') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('contactocliente_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
