{% extends '::base.html.twig' %}

{% block body -%}
    <br>
    <h1>Contacto Cliente</h1>
    <br>
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Nombre Contacto</th>
                <td>{{ entity.nombreContacto }}</td>
            </tr>
            <tr>
                <th>Puesto</th>
                <td>{{ entity.puesto}} </td>
            </tr>
            <tr>
                <th>Teléfonos contacto</th>
                 {% for telefono in entity.telefonoContacto %}
                    <td>{{ telefono }}</td>
                {% endfor %}
                {% if entity.telefonoContacto is empty %}
                    <td></td>
                {% endif %}
               
            </tr>
            <tr>
                <th>Correo Contacto</th>
                {% for correo in entity.correoContacto %}
                    <td>{{ correo }}</td>
                {% endfor %}
                {% if entity.correoContacto is empty %}
                    <td></td>
                {% endif %}
            </tr>
        </tbody>
    </table>
    <br>
        <ul class="record_actions">
    <li>
        <a class="btn btn-default" href="{{ path('contactocliente') }}">
            Regresar al listado
        </a>
    </li>
    <li>
        <a class="btn btn-warning" href="{{ path('contactocliente_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
<br>
{% endblock %}
