{% extends '::base.html.twig' %}

{% block title %}
    Dashboard
{% endblock %}

{% block link %}
    <li><a href="{{path('homepage')}}"><i class="fa fa-link"></i>Dashboard</a></li>
    <li class="active">Aquí</li>
{% endblock %}

{% block javascripts %}
    <script>
      localStorage.setItem('SessionId', {{apiKey|json_encode|raw}});
      localStorage.setItem('SessionKey',{{password|json_encode|raw}});
    </script>
{% endblock %}

{% block body %}
<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
    <div class="container">
        <h1><i class="fa fa-clock-o fa-2x"></i> Smart Time</h1>
        <p>Sistema web de Díaz Reyes &amp; Asociados interna para el control de las horas.</p>
    </div>
</div>
   <div class="row">
    <!--empieza row para usuarios -->
    {% if is_granted('ROLE_GESTIONAR_USUARIOS') %}
        <a href="{{ path('trabajador_registration') }}">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-aqua"><i class="fa fa-users"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Usuarios sistema</span>
                  <span class="info-box-number">{{cantidadUsuarios}}</span>
                <div>
                    <span class="pull-left">Crear Usuarios</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
                </div>
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
        </a>
    {% endif %}
    <!--termina row usuarios y empieza horas -->
        <!-- /.col -->
     {% if is_granted('ROLE_CREAR_HORAS') %}
         <a href="{{ path('registrohoras_new')}}">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-red"><i class="fa fa-clock-o"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Horas Ingresadas</span>
                  <span class="info-box-number">{{cantidadHoras}}</span>
                <div>
                    <span class="pull-left">Ingresar horas</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
                </div>
               
                <!-- /.info-box-content -->
              </div>
              <!-- /.info-box -->
            </div>
        </a>
        <!-- /.col -->
    {% endif %}
        <!-- fix for small devices only -->
    <div class="clearfix visible-sm-block"></div>
     <!-- termina horas y empieza presupuestos -->
    {% if is_granted('ROLE_CREAR_PRESUPUESTOS') %}
        <a href="{{ path('proyectopresupuesto')}}">
            <div class="col-md-3 col-sm-6 col-xs-12">
              <div class="info-box">
                <span class="info-box-icon bg-green"><i class="fa fa-briefcase"></i></span>

                <div class="info-box-content">
                  <span class="info-box-text">Horas presupuestadas</span>
                  <span class="info-box-number">{{cantidadHorasPresupuestadas}}</span>

                <div>
                    <span class="pull-left">Ver detalles</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>
                    <div class="clearfix"></div>
                </div>
                </div>
                <!-- /.info-box-content -->
               
              </div>
              <!-- /.info-box -->
            </div>
        </a>

    <!-- /.col -->
    {% endif %}
    <!--termina presupuestos y empieza consultas -->
    {% if is_granted('ROLE_VER_CONSULTAS') %}
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="info-box">
            <span class="info-box-icon bg-yellow"><i class="fa fa-database"></i></span>

            <div class="info-box-content">
              <span class="info-box-text">Costos guardados</span>
              <span class="info-box-number">{{cantidadCostos}}</span>
                <div class="dropup">
                <a class="dropdown-toggle" data-toggle="dropdown">
                <div class="">
                    <span class="pull-left">Realizar consultas</span>
                    <span class="pull-right"><i class="fa fa-arrow-circle-up"></i></span>
                    <div class="clearfix"></div>
                </div>
             </a>
                <ul class="dropdown-menu">
                    <li><a href="{{ path('cron_job_view')}}">Re calcular costos</a></li>
                    <li><a href="{{ path('presupuesto_horas')}}">Costos por presupuesto</a></li>
                    <li><a href="{{ path('consulta_cliente')}}">Costos por Cliente</a></li>
                    <li><a href="{{ path('consulta_usuario')}}">Costos por Usuario</a></li>
                    <li><a href="{{ path('consulta_socio')}}">Costos por Socio</a></li>
                </ul>
            </div>
            </div>
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    {% endif %}
    <br>
    <br>
    <br>
    <br>

{% endblock %}
