

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('homepage')}}"><i class="fa fa-clock-o"></i> Smart Time</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Inicio</a></li>
           {% if is_granted('ROLE_USER') %}
           <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ingresar <b class="caret"></b></a>
              <ul class="dropdown-menu">
                {% if is_granted('ROLE_CREAR_CLIENTES') %}
                    <li><a href="{{ path('cliente_new')}}">Clientes</a></li>
                {% endif %}
                {% if is_granted('ROLE_CREAR_ACTIVIDADES') %}
                    <li><a href="{{ path('actividad_new')}}">Actividades</a></li>
                {% endif %}

              
                <li class="divider"></li>
                <li class="dropdown-header">Sección Horas</li>
                {% if is_granted('ROLE_CREAR_HORAS')%}
                    <li><a href="{{ path('registrohoras_new')}}">Horas Realizadas</a></li>
                {% endif %}

                {% if is_granted('ROLE_CREAR_PRESUPUESTOS')%}
                    <li><a href="{{ path('proyectopresupuesto_new')}}">Proyecto Presupuesto</a></li>
                {% endif %}
             </ul>
            </li>
            {% endif %}
            {% if is_granted('ROLE_USER') %}

            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Consultas<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li class="dropdown-header">Sección Listado general</li>

                 {% if is_granted('ROLE_VER_LISTADO_GENERAL') %}
               
                    <li><a href="{{ path('registrohoras')}}">Registro Horas</a></li>
                {% endif %}
                
                {% if is_granted('ROLE_VER_ACTIVIDADES') %}
                   <li><a href="{{ path('actividad')}}">Actividades</a></li>
                {% endif %}
                {% if is_granted('ROLE_VER_PRESUPUESTOS') %}
                    <li><a href="{{ path('proyectopresupuesto')}}">Proyectos presupuesto</a></li>
                {% endif %}
                {% if is_granted('ROLE_VER_CLIENTES') %}
                    <li><a href="{{ path('cliente')}}">Clientes</a></li>
                {% endif %}
                {% if is_granted('ROLE_VER_TIPO_PUESTO')%}
                  <li><a href="{{path('tipopuesto')}}">Tipo Puesto</a></li>
                {% endif %}
                {% if is_granted('ROLE_VER_DEPARTAMENTO')%}
                  <li><a href="{{path('departamento')}}">Departamentos</a></li>
                {% endif %}
                <li class="divider"></li>
                <li class="dropdown-header">Aprobación de horas</li>
                {% if is_granted('ROLE_APROBACION_HORAS') %}
                    <li><a href="{{path('mostrar_usuarios_relacionados')}}">Revisar horas</a></li>
                {% endif %}
                <li class="divider"></li>
                <li class="dropdown-header">Sección Consultas específicas</li>
                {% if is_granted('ROLE_VER_CONSULTAS') %}

                    <li><a href="{{ path('presupuesto_horas')}}">Costos Por Presupuesto</a></li>
                    <li><a href="{{ path('consulta_cliente')}}">Costos Por Cliente</a></li>
                    <li><a href="{{ path('consulta_usuario')}}">Costos Por Usuario</a></li>
                    <li><a href="{{ path('consulta_socio')}}">Costos Por Socio</a></li>
                    <li><a href="{{ path('consulta_gerente')}}">Costos Por Gerente</a></li>
                 {% endif %}
                </ul>
              </li>
            {% endif %}
          </ul>
          {% if app.user %}
            {% if app.session.flashbag.has('warning') %}
              {% for flashMessage in app.session.flashbag.get('warning') %}
                  <div class="alert alert-warning">
                      <button type="button" class="close" data-dismiss="alert">&times;</button>
                      {{ flashMessage }}
                  </div>
              {% endfor %}
            {% endif %}
           <div class="pull-right">
                <ul class="navigation navbar-nav  nav-tabs">
                    <li class="active dropdown">
                      
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                       
                        <ul class="dropdown-menu">
                            <li class="navigation"><a href=""><i class="icon-cog"></i>  {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a></li>
                            <li class="divider"></li>
                             <li class="navigation"><a href="{{path('fos_user_profile_edit')}}"><i class="icon-off"></i>Editar Perfil</a></li>
                              <li class="navigation"><a href="{{path('fos_user_profile_show')}}"><i class="icon-off"></i>Ver Perfil</a></li>
                            <li class="navigation"><a href="{{path('fos_user_security_logout')}}"><i class="icon-off"></i> Cerrar Sesión</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                         <ul class="dropdown-menu">
                             <li style="text-align: left;"class="navigation"><a href="{{path('puesto')}}"><i class="icon-off"></i>Ver Puesto</a></li>
                              <li class="navigation"><a href="{{path('datosprestaciones')}}"><i class="icon-off"></i>Ver Datos <br> Prestaciones</a></li>
                               {% if is_granted('ROLE_ADMIN') and app.user %}
                                <li><a href="/admin">Administrar sistema</a></li>
                                {% endif %}
                           
                        </ul>

                    </li>
                </ul>
        </div>
        {% else %}
   
          {# utilizar el controlador default de FOSUserBundle para mostrar el formulario de login 
              Si se desea modificar esto, dirigirse a UserBundle:Resources:Views:login.html.twig
          #}
          {% render controller("FOSUserBundle:Security:login") %}
        {% endif %}
      
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    <script>
    $(document).ready(function() {
    $('body').tooltip({
            selector: "[data-tab=tab]",
            container: "body"
        });
    });
    </script>

