
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{{ path('homepage')}}">Control Interno</a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li class="active"><a href="/">Inicio</a></li>
           <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Ingresar <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Clientes</a></li>
                <li><a href="#">Empresas</a></li>
             </ul>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Consultas<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="#">Action</a></li>
                <li><a href="#">Another action</a></li>
                <li><a href="#">Something else here</a></li>
                <li class="divider"></li>
                <li class="dropdown-header">Sección usuarios</li>
                <li><a href="/usuarios/perfil">Perfil</a>
                <li><a href="/admin">Administración</a>
                <li><a href="/cerrar">Cerrar sesión</a>
              </ul>
            </li>
            <li><a href="/contacto">Contactar</a></li>
          </ul>
          {% if app.user %}
           <div class="pull-right">
                <ul class="navigation navbar-nav  nav-tabs">
                    <li class="active dropdown">
                      
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="glyphicon glyphicon-user"></span>
                        </a>
                       
                        <ul class="dropdown-menu">
                            <li class="navigation"><a href=""><i class="icon-cog"></i>  {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a></li>
                            <li class="divider"></li>
                             <li class="navigation"><a href="{{path('trabajador_profile')}}"><i class="icon-off"></i>Editar Perfil</a></li>
                              <li class="navigation"><a href="{{path('fos_user_profile_show')}}"><i class="icon-off"></i>Ver Perfil</a></li>
                            <li class="navigation"><a href="{{path('fos_user_security_logout')}}"><i class="icon-off"></i> Cerrar Sesión</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <span class="glyphicon glyphicon-cog"></span>
                        </a>
                         <ul class="dropdown-menu">
                            <li class="navigation"><a href=""><i class="icon-cog"></i>  {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }}</a></li>
                            <li class="divider"></li>
                             <li class="navigation"><a href="{{path('fos_user_security_logout')}}"><i class="icon-off"></i>Editar Perfil</a></li>
                              <li class="navigation"><a href="{{path('fos_user_security_logout')}}"><i class="icon-off"></i>Ver Perfil</a></li>
                            <li class="navigation"><a href="{{path('fos_user_security_logout')}}"><i class="icon-off"></i> Cerrar Sesión</a></li>
                        </ul>

                    </li>
                </ul>
        </div>
        {% else %}
   
          {# utilizar el controlador default de FOSUserBundle para mostrar el formulario de login 
              Si se desea modificar esto, dirigirse a UserBundle:Resources:Views:login.html.twig
          #}
          {% render controller("FOSUserBundle:Security:login") %}
        {% endif %}
      
        </div><!--/.navbar-collapse -->
      </div>
    </div>
    <script>
    $(document).ready(function() {
    $('body').tooltip({
            selector: "[data-tab=tab]",
            container: "body"
        });
    });
    </script>

