<!-- Left side column. contains the logo and sidebar -->
  <aside class="main-sidebar">

    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
    {% if app.user %}
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel">
        <div class="pull-left image">
          <!-- The user image in the navbar-->
          <div id="circle-sidebar" class="avatar-circle-sm">
            <span class="initials">{{app.user.initials}}</span>
          </div>
        </div>
        <div class="pull-left info">
          <p>  {{ app.user.username}} </p>

          <!-- Status -->
        </div>
      </div>
    {% endif %}
      <!-- search form (Optional) -->
      {#<form action="#" method="get" class="sidebar-form">
        <div class="input-group">
          <input type="text" name="q" class="form-control" placeholder="Search...">
              <span class="input-group-btn">
                <button type="submit" name="search" id="search-btn" class="btn btn-flat"><i class="fa fa-search"></i>
                </button>
              </span>
        </div>
      </form>
      <!-- /.search form -->
      #}
      <!-- Sidebar Menu -->
      <ul class="sidebar-menu">
        <li class="header">Menú Principal</li>
        <!-- Optionally, you can add icons to the links -->
        <!--Horas -->
        <li class="treeview">
          <a href="#"><i class="fa fa-clock-o"></i> <span>Horas</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">

                <li><a href="{{ path('registrohoras_new')}}">Ingresar horas</a></li>

            {% if is_granted('ROLE_VER_LISTADO_GENERAL')%}
                <li><a href="{{ path('horaspresupuesto')}}">Ver horas presupuestadas</a></li>
                <li><a href="{{ path('registrohoras')}}">Ver registro de horas</a></li>
            {% endif %}
          </ul>
        </li>
        {% if is_granted('ROLE_CREAR_PRESUPUESTOS') %}
        <!--Presupuestos -->
          <li class="treeview">
          <a href="#"><i class="fa fa-money"></i> <span>Presupuestos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
             {% if is_granted('ROLE_CREAR_PRESUPUESTOS') and app.user %}
                <li><a href="{{ path('proyectopresupuesto_new')}}">Crear proyecto presupuesto</a></li>
            {% endif %}
            {% if is_granted('ROLE_CREAR_PRESUPUESTOS') and app.user %}
                <li><a href="{{ path('proyectopresupuesto')}}">Ver proyectos presupuesto</a></li>
            {% endif %}
          </ul>
        </li>
        {% endif %}
        {% if not is_granted('ROLE_CREAR_PRESUPUESTOS') and  is_granted('ROLE_CREAR_PRESUPUESTOS') %}
        <!--Registro Presupuestos -->
          <li class="treeview">
          <a href="#"><i class="fa fa-money"></i> <span>Horas Presupuestadas</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
             {% if not is_granted('ROLE_CREAR_PRESUPUESTOS') and  is_granted('ROLE_CREAR_PRESUPUESTOS') %}
                <li><a href="{{ path('horaspresupuesto')}}">Ver Mis Horas Presupuestadas</a></li>
            {% endif %}
          </ul>
        </li>
        {% endif %}
        {%  if is_granted('ROLE_CREAR_ACTIVIDADES') or is_granted('ROLE_VER_ACTIVIDADES') %}
        <!--Acitividades -->
          <li class="treeview">
          <a href="#"><i class="fa fa-tasks"></i> <span>Actividades</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
             {% if is_granted('ROLE_CREAR_ACTIVIDADES') and app.user %}
               <li><a href="{{ path('actividad_new')}}">Crear Nueva Actividad</a></li>
            {% endif %}
            {% if is_granted('ROLE_VER_ACTIVIDADES') and app.user %}
               <li><a href="{{ path('actividad')}}">Ver Actividades</a></li>
            {% endif %}
             {% if is_granted('ROLE_CREAR_ACTIVIDADES') and app.user %}
               <li><a href="{{ path('area_new')}}">Crear Nueva Área</a></li>
               <li><a href="{{ path('area')}}">Ver Áreas</a></li>
            {% endif %}
          </ul>
        </li>
        {% endif %}
        <!--Consultas-->
         {% if is_granted('ROLE_VER_CONSULTAS') and app.user %}
          <li class="treeview">
          <a href="#"><i class="fa fa-database"></i> <span>Consultas</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{ path('cron_job_view')}}">Re calcular costos</a></li>
            <li><a href="{{ path('presupuesto_horas')}}">Costos Por Presupuesto</a></li>
            <li><a href="{{ path('consulta_cliente')}}">Costos Por Cliente</a></li>
            <li><a href="{{ path('consulta_usuario')}}">Costos Por Usuario</a></li>
            {#<li><a href="{{ path('consulta_socio')}}">Costos Por Socio</a></li>
            <li><a href="{{ path('consulta_gerente')}}">Costos Por Gerente</a></li>#}
            <li><a href="{{ path('consulta_horas_usuario') }}">Consulta de Horas Ingresadas</a></li>
             <li><a href="{{ path('consulta_horas_presupuesto_usuario') }}">Consulta de Horas Presupuestadas</a></li>
          </ul>
        </li>
        {% endif %}
        {% if is_granted('ROLE_CREAR_DEPARTAMENTO') or is_granted('ROLE_VER_DEPARTAMENTO') %}
        <!--Departamento-->
          <li class="treeview">
          <a href="#"><i class="fa fa-link"></i> <span>Departamento</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
                {% if is_granted('ROLE_CREAR_DEPARTAMENTO') and app.user %}
                  <li><a href="{{path('departamento_new')}}">Crear Departamento</a></li>
                {% endif %}
             {% if is_granted('ROLE_VER_DEPARTAMENTO')%}
              <li><a href="{{path('departamento')}}">Ver Departamentos</a></li>
            {% endif %}
          </ul>
        </li>
        {% endif %}
         <!--Clientes -->
        {% if is_granted('ROLE_CREAR_CLIENTES') or is_granted('ROLE_VER_CLIENTES') %}
        <li class="treeview">
          <a href="#"><i class="fa fa-users"></i> <span>Clientes</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
              {% if is_granted('ROLE_CREAR_CLIENTES') and app.user %}
                <li><a href="{{ path('cliente_new')}}">Crear cliente</a></li>
            {% endif %}
              {% if is_granted('ROLE_VER_CLIENTES') and app.user %}
                <li><a href="{{ path('cliente')}}">Ver clientes</a></li>
            {% endif %}
          </ul>
        </li>
        {% endif %}
        <!--Tipo Puesto-->
        {% if is_granted('ROLE_VER_PUESTO_Y_TIPO') or  is_granted ('ROLE_CREAR_PUESTO_Y_TIPO') %}
         <li class="treeview">
          <a href="#"><i class="ion-clipboard"></i> <span>Puestos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            {% if is_granted('ROLE_VER_PUESTO_Y_TIPO') and app.user %}
              <li><a href="{{path('tipopuesto')}}">Tipo Puesto</a></li>

            {% endif %}
            {% if is_granted ('ROLE_CREAR_PUESTO_Y_TIPO') %}
              <li><a href="{{path('puesto_new')}}">Actualizar Puesto</a></li>

              <li><a href="{{path('tipopuesto_new_post')}}">Crear Tipo Puesto</a></li>
            {% endif %}
             {% if is_granted('ROLE_VER_PUESTO_Y_TIPO') and app.user %}
               <li><a href="{{path('puesto')}}">Ver Puestos</a></li>

            {% endif %}
          </ul>
        </li>
        {% endif %}
        <!--Datos Prestaciones-->
        <li class="treeview">
          <a href="#"><i class="fa fa-briefcase"></i> <span>Sueldos</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{path('datosprestaciones')}}">Ver Sueldos</a></li>
            <li><a href="{{path('datosprestaciones_new')}}">Actualizar Sueldos</a></li>
          </ul>
        </li>
        <!--Asignar usuarios-->
      {% if is_granted('ROLE_ASIGNACION') %}
        <li class="treeview">
          <a href="#"><i class="glyphicon glyphicon-random"></i> <span>Usuarios</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            <li><a href="{{path('asignar_usuarios')}}">Asignar Usuario</a></li>
            <li><a href="{{path('trabajador_registration')}}">Crear Usuario</a></li>
          </ul>
        </li>
      {% endif %}

      </ul>
       <!-- Sidebar Menu -->
       {% if is_granted('ROLE_ADMIN') %}
        <ul class="sidebar-menu">
            <li class="header">Administración</li>
            <!-- Optionally, you can add icons to the links -->
            <!--Horas -->
            <li class="treeview">
              <a href="{{path('admin')}}"><i class="fa fa-dashboard"></i> <span>Administrar Sistema</span>
                <span class="pull-right-container">
                  <i class="fa fa-globe pull-right"></i>
                </span>
              </a>
            </li>
        </ul>
      {% endif %}
      <!-- /.sidebar-menu -->
    </section>
    <!-- /.sidebar -->
  </aside>
