{% extends '::base.html.twig' %}

{% block stylesheets %}
   
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
	 <script>
        //forma de arreglar bug cuando se recarga javascript
        //en campo de date.
        var verifier = {{ verificador|json_encode|raw }};

    </script>
	<script src="{{asset('js/dateModifier.js')}}"></script>
{% endblock %}
{% block javascriptDataTables %}
    {{ form_javascript(form) }}
	<script src = {{asset('js/datatables/dataTablesCliente.js')}}>
	</script>
{% endblock %}

{% block body -%}
	<br>
	{{form(form)}}
	<br>
	<br>

	{% if consultaUsuario is not empty %}

		 <table class="table table-striped table-hover">
	        <thead>
	            <tr>
	                <th>Usuario</th>
	                <th>Actividad</th>
	                <th>Cliente</th>
	                <th>Costo Horas</th>
	                <th>Presupuesto Horas</th>
	                <th>Diferencia</th>
	                <th>CostoPresupuesto</th>
	                <th>CostoReal</th>
	                
	            </tr>
	        </thead>
	        <tbody>
	            
	            {% for consulta in consultaUsuario %}
	                <tr>
		                <td>{{consulta.usuario}}</td>
		                <td>{{consulta.actividad}}</td>
		                <td>{{consulta.cliente}}</td>
		                <td>{{consulta.horasCalculadas}}</td>
		                <td>{{consulta.horasPresupuesto}}</td>
		                <td>{{consulta.diferencia}}</td>
		                <td>{{consulta.costoPresupuesto | number_format(2, '.', ', ')}}</td>
		                <td>{{consulta.costoTotal | number_format(2, '.', ', ')}}</td>
	                 
	                </tr>
	            {% endfor %}
	             <tr>
	                <td><b>Totales<b> </td>
	                <td> </td>
	                <td> </td>
	                <td> 
	                    <b> 
	                        <font color="#27ae60">
	                            {{sum_horas(consultaUsuario)}}
	                        </font>
	                    </b>    
	                </td>
	                 <td> 
	                    <b> 
	                        <font color="#27ae60">
	                            {{sum_presupuesto(consultaUsuario)}}
	                        </font>
	                    </b>    
	                </td>
	                <td> 
	                    <b> 
	                        <font color="#27ae60">
	                            {{sum_diferencia(consultaUsuario)}}
	                        </font>
	                    </b>    
	                </td>
	                     <td>
	                   <b>
	                        <font color="#27ae60">
	                            {{sum_costo_presupuesto(consultaUsuario) | number_format(2, '.', ', ')}}
	                        </font>
	                    </b>
	                    
	                </td>
	                <td>
	                   <b>
	                        <font color="#27ae60">
	                            {{sum_costo(consultaUsuario) | number_format(2, '.', ', ')}}
	                        </font>
	                    </b>
	                    
	                </td>
	               
	        </tr>
	       
	        </tbody>
	    </table>
	{% endif %}
      <br>
      <br>
{% endblock %}