{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Crear nuevo Departamento</h1>

    {{ form_start(form) }}
    {{ form_row(form.nombreDepartamento) }}
    {{ form_row(form.descripcion) }}
	   <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="form-group">
               {{form_row(form.submitAndSave)}}
            </div>
        </div>
       <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="form-group">
                {{form_row(form.submit)}}
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="form-group">
             <a class="btn btn-default btn-block" href="{{ path('departamento') }}">
	       		Mostrar todos los departamentos
		      	</a>
            </div>
        </div>
    </div>
	{{ form_end(form) }}
  <br>
  <br>
{% endblock %}
