{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Departamento</h1>

    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Nombre del departamento</th>
                <td>{{ entity.nombreDepartamento }}</td>
            </tr>
             <tr>
                <th>Descripción</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
     <li>
        <a class="btn btn-default" href="{{ path('departamento_new') }}">
           Crear nuevo
        </a>
    </li>
    <li>
        <a class="btn btn-default" href="{{ path('departamento') }}">
            Mostrar todos
        </a>
    </li>
    <li>
        <a class="btn btn-default" href="{{ path('departamento_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
