    <div id="loginbox" class="mainbox col-md-12"> 
        
       
        <div class="panel panel-default" >
            <div class="panel-heading">
                <div class="panel-title text-center">Registro Usuario </div>
            </div>     

            <div class="panel-body" >

                <form action="{{ path('fos_user_registration_register') }}" {{ form_enctype(form) }} method="POST" class="form-group">
                	


    	
                   
                    {{form_start(form)}}
                    
                    <br>
                       <h8><strong>Nombre</strong></h8>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>

                      	{{form_row(form.nombre,{'attr': {'class': 'form-control'}})}}

                    </div>
                    <br>
                       <h8><strong>Apellidos</strong></h8>
                      <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>

                        {{form_row(form.apellidos,{'attr': {'class': 'form-control'}})}}

                    </div>
                    <br>
                      <h8><strong>Nombre de Usuario</strong></h8>
                     <div class="input-group">
                      
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i>
                        </span>
                        {{form_row(form.username,{'attr': {'class': 'form-control','placeholder':'Servicio'}})}}

                    </div>

      				<br>
                       <h8><strong>Correo Electrónico </strong></h8>
                     <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>

                      	{{form_row(form.email,{'attr': {'class': 'form-control','placeholder':'Correo Electrónico'}})}}

                    </div>
                      <br>
                       <h8><strong>Teléfono</strong></h8>
                     <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-earphone"></i></span>

                        {{form_row(form.telefono,{'attr': {'class': 'form-control','placeholder':'Teléfono'}})}}

                    </div>
					<br>
                      <h8><strong>Contraseña</strong></h8>
                     <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>

                      	{{form_row(form.plainPassword.first,{'attr': {'class': 'form-control','placeholder':'Contraseña'}})}}

                    </div>

         			<br>
                     <h8><strong>Repetir Contraseña</strong></h8>
                     <div class="input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>

                      	{{form_row(form.plainPassword.second,{'attr': {'class': 'form-control','placeholder':'Confirmar Contraseña'}})}}

                   
                    <div class="form-group">
                        <!-- Button -->
                        <div class="col-sm-12 controls">
                            <button type="submit" value="{{ 'Guardar'|trans({}, 'FOSUserBundle') }}" class="btn btn-primary btn-block"><i class="glyphicon glyphicon-log-in"></i>Guardar </button>                          
                        </div>
                       
                    </div>
                
               
				{{form_end(form)}}

    			
                </form>     

            </div>                     
        </div>  
    
      </div>
