{% extends '::base.html.twig' %}
{% block stylesheets %}
   
    {{ form_stylesheet(edit_form) }}
{% endblock %}

{% block javascripts %}
    {{ form_javascript(edit_form) }}
      <script>
        //forma de arreglar bug cuando se recarga javascript
        //en campo de date.
        var verifier = {{ verificador|json_encode|raw }};

    </script>
   <script src="{{asset('js/dateModifier.js')}}"></script>
{% endblock %}
{% block body -%}
	<br>
    <h1>Editar Costo</h1>

    {{ form(edit_form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('costo') }}">
            Mostrar todos
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
