{% extends '::base.html.twig' %}

{% block title %}
    Listado de Costos
{% endblock %}

{% block stylesheets %}
   
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ form_javascript(form) }}
     <script>
        //forma de arreglar bug cuando se recarga javascript
        //en campo de date.
        var verifier = {{ verificador|json_encode|raw }};

    </script>
   <script src="{{asset('js/dateModifier.js')}}"></script>
{% endblock %}
{% block body -%}
    <h1>Nuevo cálculo del costo</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('costo') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
