{% extends '::base.html.twig' %}

{% block stylesheets %}
   
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ form_javascript(form) }}
   <script src="{{asset('js/dateModifier.js')}}"></script>
{% endblock %}
{% block body -%}
    <h1>Nuevo cálculo del costo</h1>

    {{ form(form) }}

        <ul class="record_actions">
    <li>
        <a href="{{ path('costo') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
