{% extends '::base.html.twig' %}

{% block stylesheets %}
   
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    {{ form_javascript(form) }}
    <script src="{{asset('js/dateModifier.js')}}"></script>
{% endblock %}

{% block body -%}
	<br>
	{{form(form)}}
	<br>
	<br>

	{% if consultaCliente is not empty %}

		 <table class="table table-striped table-hover">
	        <thead>
	            <tr>
	                <th>Cliente</th>
	                <th>Costo</th>
	                <th>Presupuesto</th>
	                <th>Diferencia</th>
	                <th>Acción</th>
	            </tr>
	        </thead>
	        <tbody>
	            
	            {% for consulta in consultaCliente %}
	                <tr>
	                <td>{{consulta.cliente}}</td>
	                <td>{{consulta.horasCalculadas}}</td>
	                <td>{{consulta.horasPresupuesto}}</td>
	                <td>{{consulta.diferencia}}</td>
	                   <td>
	                    <a  href="{{ path('presupuesto_individual_cliente', { 'nombrePresupuesto': nombrePresupuesto , 'cliente_id' : consulta.cliente.id}) }}" class="btn btn-xs btn-info">Mostrar detalle</a>
	                </td>
	                </tr>
	            {% endfor %}
	        </tbody>
	    </table>
	{% endif %}
      <br>
      <br>
{% endblock %}