{% extends '::base.html.twig' %}

{% block stylesheets %}

    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
   <script>
        //forma de arreglar bug cuando se recarga javascript
        //en campo de date.
        var verifier = {{ verificador|json_encode|raw }};

  $( "#consulta_usuario_consulta_filtro" ).change(function(event) {
    var query = $('#consulta_usuario_consulta_filtro').find(":selected").val();
    if (query === 'Usuario') {
        $('#queryU').show();
        $('#queryP').hide();
        $('#queryC').hide();
        $("select").initialize( function(){
           $("select.select2").select2({
            theme: "bootstrap"
           });
        });
    }
    if (query === 'Presupuesto') {
        $('#queryP').show();
        $('#queryU').hide();
        $('#queryC').hide();
         $("select").initialize( function(){
           $("select.select2").select2({
            theme: "bootstrap"
           });
        });
    }
    if (query === 'Cliente') {
        $('#queryC').show();
        $('#queryU').hide();
        $(' #queryP').hide();
        $("select").initialize( function(){
           $("select.select2").select2({
            theme: "bootstrap"
           });
        });
    }
  });

    </script>
{% endblock %}
{% block javascriptDataTables %}
    {{ form_javascript(form) }}
  <script src = {{asset('js/datatables/dataTablesHorasPresupuesto.js')}}>
  </script>
{% endblock %}

{% block body -%}
  <br>
  <h1>Consulta de Horas Ingresadas</h1>
  <p>Consulta Por Usuario, Presupuesto o Cliente</p>
    {{ form_start(form)}}
  <div class="row">
    <div class="col-md-6">
      {{form_row(form.fechaInicio)}}
    </div>
    <div class="col-md-6">
      {{form_row(form.fechaFinal)}}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{form_row(form.consulta_filtro)}}
    </div>
  </div>
  <div class="row">
  {% if form.usuario is defined %}
    <div id="queryU" class="col-md-12" style="display: none">
      {{form_row(form.usuario)}}
    </div>
    {% endif %}
    {% if form.cliente is defined %}
    <div id="queryC" class="col-md-12" style="display: none">
      {{form_row(form.cliente)}}
    </div>
    {% endif %}
    {% if form.proyectoPresupuesto is defined %}
    <div id="queryP" class="col-md-12" style="display: none">
      {{form_row(form.proyectoPresupuesto)}}
    </div>
    {% endif %}
  </div>
  {{form_end(form)}}
  <br>
  <br>

  {% if registros is not empty %}

     <table id="table" class="table table-striped table-hover">
          <thead>
            <tr>
                <th>Fecha</th>
                <th>Horas Presupuestadas</th>
                <th>Cliente </th>
                <th>Usuario </th>
                <th>Presupuesto </th>
            </tr>
        </thead>
          <tbody>

              {% for entity in registros %}
              <tr>
                 <td>{% if entity.fechaCreacion %}{{ entity.fechaCreacion|date('d-m-Y') }}{% endif %}</td>
                <td>{{ entity.horasPresupuestadas }}</td>
                <td>{{ entity.cliente }} </td>
                <td>{{ entity.usuario }} </td>
                <td>{{ entity.proyecto }}</td>
              </tr>
              {% endfor %}

          </tbody>
      </table>
  {% endif %}
      <br>
      <br>
{% endblock %}
