{% extends '::base.html.twig' %}

{% block javascripts %}
   <script src="{{asset('js/confirm-dialog.js')}}"></script>
{% endblock %}

{% block link %}
    <li><a href="{{path('homepage')}}"><i class="fa fa-link"></i>Dashboard</a></li>
       <li><a href="{{path('cliente')}}"><i class="fa fa-link"></i>Lista clientes</a></li>
    <li class="active">Editar Cliente</li>
{% endblock %}

{% block title %}
    Editar Cliente
{% endblock %}

{% block body -%}
    <h1>Editar Cliente</h1>

    {{ form(edit_form) }}

<div class="row">
   {% if is_granted('ROLE_ELIMINAR_CLIENTES') %}
     <div class="col-xs-12 col-sm-12 col-md-6">
        <button id="simple-confirm" class="btn btn-danger btn-block">Eliminar</button>
        
        <div class="modal">
         {{ form(delete_form) }}
        </div>
    </div>
    {% endif %}
    <div class="col-xs-12 col-sm-12 col-md-6">
        <a class="btn btn-default btn-block" href="{{ path('cliente') }}">
            Ver todos
        </a>
    </div>
</div>
{% endblock %}
