{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Listado de Clientes</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                
                <th>Nit</th>
                <th>Razón Social</th>
                <th>Nombre Comercial</th>
                <th>Nombre Corto</th>
                <th>Servicios Prestados</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.nit }}</td>
                <td>{{ entity.razonSocial }}</td>
                <td>{{ entity.nombreComercial }}</td>
                <td>{{ entity.nombreCorto }}</td>
                <td>{{ entity.serviciosPrestados }}</td>
                <td>
                <ul>
                    <li>
                        <a class="btn btn-xs btn-default"href="{{ path('cliente_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>
                    {% if is_granted('ROLE_GERENTE') %}
                        <li>
                            <a class="btn btn-xs btn-default" href="{{ path('cliente_edit', { 'id': entity.id }) }}">Editar</a>
                        </li>
                    {% endif %}
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

      
            <a class="btn btn-primary btn-block" href="{{ path('cliente_new') }}">
                Crear nuevo cliente
            </a>
    <br>
    <br>
    {% endblock %}
