{% extends '::base.html.twig' %}

{% block link %}
    <li><a href="{{path('homepage')}}"><i class="fa fa-link"></i>Dashboard</a></li>
     <li><a href="{{path('cliente')}}"><i class="fa fa-link"></i>Listado clientes</a></li>
    <li class="active"></i>Nuevo cliente</li>
{% endblock %}

{% block title %}
    Nuevo Cliente
{% endblock %}

{% block body -%}

{% block javascripts %}

<script src="{{asset('js/ajaxContacto.js')}}"></script>
<script src="{{ asset('js/jquery.bsAlerts.min.js')}}"></script>
 <script>
ajaxContacto();
</script>

{% endblock javascripts %}

    <h1>Nuevo Cliente</h1>

    {{ form_start(form) }}

    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="form-group">
              {{ form_row(form.nit)}}
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="form-group">
          {{ form_row(form.numeroContrato)}}
      </div>
    </div>
  </div>
    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="form-group">
              {{ form_row(form.razonSocial)}}
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="form-group">
        {{ form_row(form.nombreComercial)}}
      </div>
    </div>
  </div>
	 <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="form-group">
             {{ form_row(form.nombreCorto)}}
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="form-group">
       {{ form_row(form.serviciosPrestados)}}
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="form-group">
            {{ form_row(form.codigoSAT)}}
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="form-group">
      	  <div data-alerts="alerts" data-titles="{'warning': '<em>Warning!</em>'}" data-ids="myid" data-fade="3000"></div>
                            
      {{form_row(form.contactos)}}
	  <button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#modalContacto">
           Crear nuevo contacto
          </button>
      </div>
    </div>
  </div>
	 <div class="row">
        <div class="col-sm-5 col-md-5">
            <div class="form-group">
               {{form_row(form.submitAndSave)}}
            </div>
        </div>
       <div class="col-sm-4 col-md-4">
            <div class="form-group">
                {{form_row(form.submit)}}
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="form-group">
                <a class="btn btn-default" href="{{ path('cliente') }}">
                  Ver todos los clientes
              </a>
            </div>
        </div>
    </div>

	
    {{ form_end(form)}}


   

