{% extends '::base.html.twig' %}

{% block link %}
    <li><a href="{{path('homepage')}}"><i class="fa fa-link"></i>Dashboard</a></li>
     <li><a href="{{path('cliente')}}"><i class="fa fa-link"></i>Listado clientes</a></li>
    <li class="active"></i>Nuevo cliente</li>
{% endblock %}

{% block title %}
    Nuevo Cliente
{% endblock %}

{% block body -%}

{% block javascripts %}

<script src="{{ asset('js/jquery.bsAlerts.min.js')}}"></script>

{% endblock javascripts %}

    <h1>Nuevo Cliente</h1>

    {{ form_start(form) }}

    <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="form-group">
              {{ form_row(form.nit)}}
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="form-group">
          {{ form_row(form.razonSocial)}}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-md-6">
      <div class="form-group">
              {{ form_row(form.nombreComercial)}}
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div class="form-group">
        {{ form_row(form.serviciosPrestados)}}
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-xs-12 col-sm-4 col-md-6 col-lg-6">
      <div class="form-group">
          {{ form_row(form.usuarioAsignado)}}
      </div>
    </div>
  </div>
	 <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="form-group">
               {{form_row(form.submitAndSave)}}
            </div>
        </div>
       <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="form-group">
                {{form_row(form.submit)}}
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="form-group">
            <a class="btn btn-default btn-block" href="{{ path('cliente') }}">
              Ver todos los clientes
            </a>
          </div>
        </div>
    </div>

	
    {{ form_end(form)}}


{% endblock %}

