{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Cliente</h1>

    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nit</th>
                <td>{{ entity.nit }}</td>
            </tr>
            <tr>
                <th>Numerocontrato</th>
                <td>{{ entity.numeroContrato }}</td>
            </tr>
            <tr>
                <th>Razonsocial</th>
                <td>{{ entity.razonSocial }}</td>
            </tr>
            <tr>
                <th>Nombrecomercial</th>
                <td>{{ entity.nombreComercial }}</td>
            </tr>
            <tr>
                <th>Nombrecorto</th>
                <td>{{ entity.nombreCorto }}</td>
            </tr>
            <tr>
                <th>Serviciosprestados</th>
                <td>{{ entity.serviciosPrestados }}</td>
            </tr>
            <tr>
                <th>Codigosat</th>
                <td>{{ entity.codigoSAT }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('cliente') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('cliente_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
