{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Cliente</h1>

    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Nit</th>
                <td>{{ entity.nit }}</td>
            </tr>
            <tr>
                <th>Número Contrato</th>
                <td>{{ entity.numeroContrato }}</td>
            </tr>
            <tr>
                <th>Razón Social</th>
                <td>{{ entity.razonSocial }}</td>
            </tr>
            <tr>
                <th>Nombre Comercial</th>
                <td>{{ entity.nombreComercial }}</td>
            </tr>
            <tr>
                <th>Nombre Corto</th>
                <td>{{ entity.nombreCorto }}</td>
            </tr>
            <tr>
                <th>Servicios Prestados</th>
                <td>{{ entity.serviciosPrestados }}</td>
            </tr>
            <tr>
                <th>Código SAT</th>
                <td>{{ entity.codigoSAT }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a class="btn btn-primary btn-block" href="{{ path('cliente_new')}}">
            Ingresar Nuevo cliente
        </a>
    </li>
    <br>
    <li>
        <a class="btn btn-default" href="{{ path('cliente') }}">
           Ver todos los clientes
        </a>
    </li>
    {% if is_granted('ROLE_GERENTE') %}
        <li>
            <a class="btn btn-warning" href="{{ path('cliente_edit', { 'id': entity.id }) }}">
                Editar
            </a>
            </li>
    {% endif %}
</ul>
{% endblock %}
