
    <!-- Custom Section -->

    <div style = "color: #ffffff">
            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
            {% else %}
                
            {% endif %}
    </div>


        {% if app.request.hasPreviousSession %}
            {% for type, messages in app.session.flashbag.all() %}
                {% for message in messages %}
                    <div class="flash-{{ type }}">
                        <p style="border-bottom: 1px solid #ffffff; color: #ffffff ">{{ message }}</p>
                    </div>
                {% endfor %}
            {% endfor %}
        {% endif %}

      
    <!-- Start Login Section -->
    
    {% block fos_user_content %}
    {% endblock fos_user_content %}
       
    
            
        
        
    
