<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Smart Time | Log in</title>
        <!-- Tell the browser to be responsive to screen width -->
        <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
        <meta name="author" content="Newton Labs">
        <!-- Bootstrap 3.3.6 -->
        <link rel="stylesheet" href="{{asset('css/main-styles.css')}}">
        <!-- Font Awesome -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
        <!-- Ionicons -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
        <link rel="stylesheet" href="{{asset('css/notie.css')}}">
        <script src="{{asset('js/jquery-2.2.3.min.js')}}"></script>
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
        <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
        {% block stylesheets %}
        {% endblock %}
    </head>
    <!-- Custom Section -->
    <body class="hold-transition login-page">
         <!-- Logo -->

         <div class="login-box-body">
              <a href="{{ path('homepage')}}" class="logo">
      <!-- mini logo for sidebar mini 50x50 pixels -->
      <!-- logo for regular state and mobile devices -->
      <h4><span class="logo-lg"><i class="fa fa-clock-o"></i> <b>Smart</b>Time</span></h4>
    </a>
            <div style = "color: #000000">
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                <a href="{{ path('fos_user_security_logout') }}">
                {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                </a>
                {% else %}
                {% endif %}
            </div>
        </div>

        <!-- Start Login Section -->
        {% block fos_user_content %}
        {% endblock fos_user_content %}
        {% block subject %}
        {% endblock %}
        {% block body_text %}
        {% endblock %}
        <!-- jQuery 2.2.0 -->
        <!-- Bootstrap 3.3.6 -->
        {% block secure %}
        {% endblock %}
        <script src="{{asset('js/built-init.js')}}"></script>
        {% block javascripts %}
        {% endblock javascripts %}
        {% block alertify %}
            {{ app.session|alertify|raw }}
        {% endblock %}


    </body>
</html>
