{% extends '::base.html.twig' %}

{% block title %}
    Consulta Gerente
{% endblock %}

{% block stylesheets %}
   
    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
	<script>
        //forma de arreglar bug cuando se recarga javascript
        //en campo de date.
        var verifier = {{ verificador|json_encode|raw }};

    </script>
	<script src="{{asset('js/dateModifier.js')}}"></script>
{% endblock %}
{% block javascriptDataTables %}
    {{ form_javascript(form) }}
	<script src = {{asset('js/datatables/dataTablesCliente.js')}}>
	</script>
{% endblock %}

{% block body -%}
	<br>
	<h1>Consulta por Gerente</h1>
	{{ form_start(form)}}
	<div class="row">
		<div class="col-md-6">
			{{form_row(form.fechaInicio)}}
		</div>
		<div class="col-md-6">
			{{form_row(form.fechaFinal)}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			{{form_row(form.gerente)}}
		</div>
		<div class="col-md-6">
			{{form_row(form.horas_extraordinarias)}}
		</div>
	</div>
	<div class="row">
		<div class="col-md-6">
			{{form_row(form.proyecto_o_usuarios)}}
		</div>
	</div>
	{{form_end(form)}}
	<br>
	<br>

	{% if consultaGerente is not empty %}

		 <table class="table table-striped table-hover">
	        <thead>
	            <tr>
	                <th>Cliente</th>
	                <th>Actividad</th>
	                <th>Usuario</th>
	                <th>Horas Invertidas</th>
	                <th>Horas Presupuestadas</th>
	                <th>Diferencia</th>
	                <th>CostoPresupuesto</th>
	                <th>CostoTotal</th>
	                
	            </tr>
	        </thead>
	        <tbody>
	            
	            {% for consulta in consultaGerente %}
	                <tr>
		                <td>{{consulta.cliente}}</td>
		                <td>{{consulta.actividad}}</td>
		                <td>{{consulta.usuario}}</td>
		                <td>{{consulta.horasCalculadas}}</td>
		                <td>{{consulta.horasPresupuesto}}</td>
		                <td>{{consulta.diferencia}}</td>
		                  <td>{{consulta.costoPresupuesto | number_format(2, '.', ', ')}}</td>
		                <td>{{consulta.costoTotal | number_format(2, '.', ', ')}}</td>
	                 
	                </tr>
	            {% endfor %}
	             <tr>
	                <td><b>Totales<b> </td>
	                <td> </td>
	                <td> </td>
	                <td> 
	                    <b> 
	                        <font color="#27ae60">
	                            {{sum_horas(consultaGerente)}}
	                        </font>
	                    </b>    
	                </td>
	                 <td> 
	                    <b> 
	                        <font color="#27ae60">
	                            {{sum_presupuesto(consultaGerente)}}
	                        </font>
	                    </b>    
	                </td>
	                <td> 
	                    <b> 
	                        <font color="#27ae60">
	                            {{sum_diferencia(consultaGerente)}}
	                        </font>
	                    </b>    
	                </td>
	                 <td>
	                   <b>
	                        <font color="#27ae60">
	                            {{sum_costo_presupuesto(consultaGerente) | number_format(2, '.', ', ')}}
	                        </font>
	                    </b>
	                    
	                </td>
	                <td>
	                   <b>
	                        <font color="#27ae60">
	                            {{sum_costo(consultaGerente) | number_format(2, '.', ', ')}}
	                        </font>
	                    </b>
	                    
	                </td>
	               
	        </tr>
	         <tr>
	                <td><b>Honorarios<b> </td>
	                <td> </td>
	                <td> </td>
	                <td>  </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td>
	                   <b>
	                        <font color="#27ae60">
	                          Q  {{honorarios | number_format(2, '.', ', ')}}
	                        </font>
	                    </b>
	                    
	                </td>
	               
	        </tr>
	        {% set utilidad = honorarios - sum_costo(consultaGerente) %}
	         <tr>
	                <td><b>Utilidad<b> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td> </td>
	                <td>
	                   <b> {% if utilidad < 0 %}
	                        <font color="#c0392b">
	                          
	                         Q  {{utilidad | number_format(2, '.', ', ')}}

	                        </font>
	                      	{% else %}
	                      	 <font color="#000000">
	                          
	                         Q  {{utilidad | number_format(2, '.', ', ')}}

	                        </font>  
	                        {% endif %}
	                    </b>
	                    
	                </td>
	               
	        </tr>
	        </tbody>
	    </table>
	{% endif %}
      <br>
      <br>
{% endblock %}