{% extends '::base.html.twig' %}
    {% block body -%}
        <h1>Datos Prestaciones de {{app.user.nombre}} {{app.user.apellidos }}</h1>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Sueldo</th>
                    <th>Bonificación Incentivo</th>
                    <th>Bonificacion Ley</th>
                    <th>Gasolina</th>
                    <th>Prestaciones sobre sueldo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for entity in entities %}
                <tr>
                    <td>{{ entity.sueldo | number_format(2, '.', ', ')}}</td>
                    <td>{{ entity.bonificacionIncentivo| number_format(2, '.', ', ') }}</td>
                    <td>{{ entity.bonificacionLey | number_format(2, '.', ', ')}}</td>
                    <td>{{ entity.gasolina | number_format(2, '.', ', ')}}</td>
                    <td>{{ entity.prestacionesSobreSueldo | number_format(2, '.', ', ') }}</td>
                    <td>
                        <ul>
                            <li>
                                <a class="btn btn-info btn-xs" href="{{ path('datosprestaciones_show', { 'id': entity.id }) }}">Mostrar</a>
                            </li>
                            <li>
                                <a class="btn btn-warning btn-xs" href="{{ path('datosprestaciones_edit', { 'id': entity.id }) }}">Editar</a>
                            </li>
                        </ul>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <a class="btn btn-default btn-block"href="{{ path('datosprestaciones_new') }}">
        Ingresar datos de prestaciones actuales
        </a>
        <br>
        <br>
        <br>
    {% endblock %}