{% extends '::base.html.twig' %}
    {% block title %}
        Registro Prestaciones
    {% endblock %}

  {% block body -%}
    {{ form_start(form) }}
    <div class="tab-content">
        <div class="tab-pane active" role="tabpanel" id="step1">
            <h1>Registro de Prestaciones</h1>
            <hr class="colorgraph">
            {# mostrar errores del primer tab #}
            <div data-alerts="alerts" data-titles="{'warning': '<em>Warning!</em>'}" data-ids="tab1" data-fade="3000"></div>
            {# termina div para mostrar errores primer tab #}
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        {{form_row(form.sueldo)}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        {{form_row(form.bonificacionIncentivo)}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        {{form_row(form.otraBonificacion)}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        {{form_row(form.gasolina)}}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        {{form_row(form.otrasPrestaciones)}}
                    </div>
                </div>
                <div class="col-xs-12 col-sm-6 col-md-6">
                    <div class="form-group">
                        {{form_row(form.viaticos)}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                    {{form_row(form.depreciacion)}}
                </div>
            </div>
           <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                    {{form_row(form.otros)}}
                </div>
            </div>
        </div>
         <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6">
                <div class="form-group">
                    {{form_row(form.usuario)}}
                </div>
            </div>
        </div>
        {{form_row(form.gastos)}}
        <p>El sistema usará los últimos datos ingresados. A fin de mes se calculan los costos.</p>
        <p>Los datos ingresados solo pueden ser consultados por los gerentes asignados. Los gerentes no pueden ver información de otros gerentes.</p>
        <hr class="colorgraph">
        {{form_row(form.submit)}}
    </div>
    {{form_end(form)}}
    <br>
    <br>
    <br>
    <br>
  {% endblock %}
