{% extends '::base.html.twig' %}

{% block body -%}
    <h1>DatosPrestaciones</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Sueldo</th>
                <td>{{ entity.sueldo }}</td>
            </tr>
            <tr>
                <th>Bonificacionincentivo</th>
                <td>{{ entity.bonificacionIncentivo }}</td>
            </tr>
            <tr>
                <th>Bonificacionley</th>
                <td>{{ entity.bonificacionLey }}</td>
            </tr>
            <tr>
                <th>Gasolina</th>
                <td>{{ entity.gasolina }}</td>
            </tr>
            <tr>
                <th>Prestacionessobresueldo</th>
                <td>{{ entity.prestacionesSobreSueldo }}</td>
            </tr>
            <tr>
                <th>Otrasprestaciones</th>
                <td>{{ entity.otrasPrestaciones }}</td>
            </tr>
            <tr>
                <th>Otros</th>
                <td>{{ entity.otros }}</td>
            </tr>
            <tr>
                <th>Depreciacion</th>
                <td>{{ entity.depreciacion }}</td>
            </tr>
             <tr>
                <th>Usuario</th>
                <td>{{ entity.usuario }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('datosprestaciones') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('datosprestaciones_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
