{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}  




 <form class="navbar-form navbar-right form-inline" id="login" name="form" method="POST" action="{{ path("fos_user_security_check") }}" >
  {% if error %}
    <div style="color: #ffffff">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
{% endif %}
             <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

           <div class="form-group">
               <input id="username" size="10" type="text" class="form-control" name="_username" value="" placeholder="{{ last_username|default('Usuario') }}" > 
            </div>
            <div class="form-group">
              <input id="password" size="10" type="password" class="form-control" name="_password" required="required" placeholder="Contraseña">
            </div>

              <button type="submit" id="_submit" name="_submit" class="btn btn-custom">
                    Ingresar
              </button>
                <div class= "pull-right">
            <a href="{{ path('fos_user_resetting_request') }}" role="button" class="btn btn-success btn-xs">Olvidé contraseña</a>
            <a href="{{ path('trabajador_registration') }}" class="btn btn-xs btn-custom">
              Crear Usuario
            </a>
          </div>
          <

          
          </form>


                
  
    <!-- End Login Section -->
{% endblock fos_user_content %}
                  