{% extends "FOSUserBundle::layout.html.twig" %}

{% block fos_user_content %}  
{% if error %}
    <div><p style="color: #000000 "> {{ error|trans({}, 'FOSUserBundle') }}</p></div>
{% endif %}

    
            <h4 style="border-bottom: 1px solid #c5c5c5; color: #000000 "><i class="glyphicon glyphicon-user"></i>Autenticaci칩n</h4>
            <div style="padding: 45px;" id="form-olvidado">
                <form accept-charset="UTF-8" role="form" id="login" name="form" method="POST" action="{{ path("fos_user_security_check") }}" >
                  <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

                <fieldset>
               <div class="form-group input-group">
                        <span class="input-group-addon"><i class="">
                        </i>@</span>
                        <input id="username" type="text" class="form-control" name="_username" value="" placeholder="{{ last_username|default('Usuario') }}" > 
                </div>
                 <div class="form-group input-group">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                        <input id="password" type="password" class="form-control" name="_password" required="required" placeholder="Contrase침a">
                        </div>
              
                <div class="form-group">
                  <button type="submit" id="_submit" name="_submit" class="btn btn-primary btn-block">
                    Ingresar
                  </button>
                </div>
                <div>
                  <p class="help-block">
                    <a  href="{{ path('fos_user_resetting_request') }}" name="_forgot_password"><small>Olvidaste tu contrase침a?</small></a>
                  </p>
                </div>
                 <div class="col-sm-12">
                            <a class="btn btn-success btn-block" href="/register" ><i class="glyphicon glyphicon"></i>CREAR USUARIO</a> 
                </fieldset>
                </form>
            </div>
          <div style="display: none;" id="form-olvidado">
            <h4 class="">
              Olvidaste tu contrase침a?
            </h4>
                
            </div>
    
    <!-- End Login Section -->
{% endblock fos_user_content %}
                  