{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{% block fos_user_content %}
<body class="hold-transition login-page">
<div class="login-box">
  <div class="login-logo">
    <a href="{{path('homepage')}}"><b>Smart</b>Time</a>
  </div>
  <!-- /.login-logo -->
  <div class="login-box-body">
    <p class="login-box-msg">Ingresa para iniciar sesión</p>

    <form  action="{{ path("fos_user_security_check") }}"  method="post">
      {% if error %}
            <div style="color: #ffffff">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
      {% endif %}
       <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
      <div class="form-group has-feedback">
        <input id="username" size="15" type="text" class="form-control" name="_username" value="" placeholder="{{ last_username|default('Usuario o Correo') }}" > 
        <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
      </div>
      <div class="form-group has-feedback">
       <input id="password" size="13" type="password" class="form-control" name="_password" required="required" placeholder="Contraseña">
        <span class="fa fa-lock form-control-feedback"></span>
      </div>
      <div class="row">
        <!-- /.col -->
        <div class="col-xs-6">
          <button type="submit" class="btn btn-primary btn-block btn-flat">Iniciar</button>
        </div>
        <div class="col-xs-6">
            <a href="{{ path('fos_user_resetting_request') }}" role="button" class="btn btn-default btn-block">Olvidé contraseña</a>
          </div>
        <!-- /.col -->
      </div>
    </form>

 
    <!-- /.social-auth-links -->
   

  </div>
  <!-- /.login-box-body -->
</div>
<!-- /.login-box -->
 {% endblock fos_user_content %}

