<div class="fos_user_user_show">
    <h3 style="border-top: 1px solid #c5c5c5;color: #000000 ">{{ 'profile.show.username'|trans({}, 'FOSUserBundle') }}: {{ user.username }}</h3>
    <h3 style=" color: #000000 ">{{ 'profile.show.email'|trans({}, 'FOSUserBundle') }}: {{ user.email }}</h3>
    <h3 style="color: #000000 ">Nombre :{{user.nombre}}</h3>
    <h3 style="border-bottom: 1px solid #c5c5c5; color: #000000 ">Apellidos :{{user.apellidos}}</h3>

    <a class="btn btn-primary btn-lg" href="{{ path('fos_user_profile_edit')}}">Editar Perfil</a>
    <a class="btn btn-danger btn-lg" href="{{ path('fos_user_security_logout')}}">Cerrar Sesión</a>
</div>
