{% extends '::base.html.twig' %}

{% block body -%}
	<br>
    <h1>Editar Tipo Puesto</h1>

   
    {{ form_start(edit_form) }}
        {{form_row(edit_form.nombrePuesto) }}
        {{form_row(edit_form.descripcion) }}
        
       {% set array_length = (edit_form.permisos.vars.choices) | length %}
       {% set middle = (array_length / 2) |round(0, 'ceil') %}
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="form-group">
                <h2>Permisos</h2>
                 {% for i in 1..middle %}
                  {{ form_row(edit_form.permisos[i]) }}
                {% endfor %}
             
               

          </div>
        </div>
       
        <div class="col-sm-6 col-md-6">
          <div class="form-group">
              <h2>Permisos</h2>
               {% for i in middle..array_length %}
                  {{ form_row(edit_form.permisos[i]) }}
                {% endfor %}
          </div>
        </div>
      </div>
        
    {{ form_end(edit_form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-default" href="{{ path('tipopuesto') }}">
           Ver todos los tipos puestos
        </a>
    </li>
    {% if is_granted('ROLE_ELIMINAR_TIPO_PUESTO') %}
       <div class="container">
    <div class="row">
      <h1>Dialog - Show Me</h1>
      <p>Example of how to use dialog.js</p>
      <p><button id="simple-alert" class="btn btn-default">Alert</button> <button id="multi-line-alert" class="btn btn-default">Multi-Line Alert</button> <button id="auto-close-alert" class="btn btn-default">Auto Close Alert</button></p>
      <p><button id="simple-confirm" class="btn btn-default">Confirm</button> <button id="three-btn-confirm" class="btn btn-default">Three Button Confirm</button></p>
      <p><button id="contact-us" class="btn btn-default">Sample Contact Us Form</button></p>
    </div>
  </div>
  {% endif %}
</ul>

    {{form(delete_form)}}


{% endblock %}
{% block javascripts %}
  <script src="{{asset('js/tipo_puesto_management.js')}}"></script>
<script>

/*
 * When ready add click behavior to the buttons.
 */
$(document).ready(function () {
  $("#simple-alert").click(function (event) {
    console.log('entra');
    event.stopPropagation();
    $.dialog.alert("Hello World");
  });

  $("#multi-line-alert").click(function (event) {
    event.stopPropagation();
    $.dialog.alert("Thank you for your request to join our\ncommunity. We will get back to you soon.");
  });

  $("#auto-close-alert").click(function (event) {
    event.stopPropagation();
    $.dialog.alert("This alert will automatically close in 5 seconds.").autoClose(5000);
  });

  $("#simple-confirm").click(function (event) {
    event.stopPropagation();
    $.dialog.confirm("Are you sure?").onClose(function (response) {
      if (response) {
        $.dialog.alert("You clicked OK or pressed the Enter/Return key.").autoClose(5000);
      } else {
        $.dialog.alert("You clicked Cancel or pressed the Esc key.").autoClose(5000);
      }
    });
  });

  $("#three-btn-confirm").click(function (event) {
    event.stopPropagation();
    $.dialog.confirm("Document has changes, do you want to save the changes?", {ok: "Yes", cancel: "No", option: "Don't Save"}).onClose(function (response) {
      if ($.dialog.isOk(response)) {
        $.dialog.alert("You clicked Yes or pressed the Enter/Return key.").autoClose(5000);
      } else if ($.dialog.isCancel(response)) {
        $.dialog.alert("You clicked No or pressed the Esc key.").autoClose(5000);
      } else {
        $.dialog.alert("You clicked the Don't Save button").autoClose(5000);
      }
    });
  });

  $("#contact-us").on("click", function (event) {
    event.stopPropagation()

    function onSubmit(event) {
      event.preventDefault();
      form = $(this);

      var email = form.find("#contact-email").val(),
      subject = form.find("#contact-topic").val(),
      body = form.find("#contact-body").val();

      form.find("input, button").blur();
      if (!form_validate.email(email)) {
        $("#contact-form .error").removeClass("hidden").text("Please enter your email address.");
        form.find("input").focus();
        return;
      }

      if (!form_validate.required(subject)) {
        $("#contact-form .error").removeClass("hidden").text("Please select an topic.");
        form.find("select").focus();
        return;
      }

      if (!form_validate.required(body)) {
        $("#contact-form .error").removeClass("hidden").text("Please enter a description.");
        form.find("textarea").focus();
        return;
      }

      $.dialog.close("contact-form");
      $.dialog.alert("Thank you for contacting us.\nWe will get back to you soon.\n\nThis alert will automatically close in 5 seconds.").autoClose(5000);
    }

    function open(dialog) {
      dialog.find("form").on("submit", onSubmit);
      dialog.find("#contact-email").focus();
    }

    $.dialog.open("contact-form").onOpen(open);
  });
});

</script>
{% endblock %}