{% extends '::base.html.twig' %}

{% block body -%}
	<br>
    <h1>Editar Tipo Puesto</h1>

   
    {{ form_start(edit_form) }}
        {{form_row(edit_form.nombrePuesto) }}
        {{form_row(edit_form.descripcion) }}
        
       {% set array_length = (edit_form.permisos.vars.choices) | length %}
       {% set middle = (array_length / 2) |round(0, 'ceil') %}
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="form-group">
                <h2>Permisos</h2>
                 {% for i in 1..middle %}
                  {{ form_row(edit_form.permisos[i]) }}
                {% endfor %}
             
               

          </div>
        </div>
       
        <div class="col-sm-6 col-md-6">
          <div class="form-group">
              <h2>Permisos</h2>
               {% for i in middle..array_length %}
                  {{ form_row(edit_form.permisos[i]) }}
                {% endfor %}
          </div>
        </div>
      </div>
        
    {{ form_end(edit_form) }}

        <ul class="record_actions">
    <li>
        <a class="btn btn-default" href="{{ path('tipopuesto') }}">
           Ver todos los tipos puestos
        </a>
    </li>
    {% if is_granted('ROLE_ELIMINAR_TIPO_PUESTO') %}
     <li>
      <button id="simple-confirm" class="btn btn-danger">Eliminar</button> 
    </li>
    {% endif %}
  </ul>

    
  <div class="modal">
    {{form(delete_form)}}
</div>
      


{% endblock %}
{% block javascripts %}
  <script src="{{asset('js/tipo_puesto_management.js')}}"></script>
<script>

/*
 * When ready add click behavior to the buttons.
 */
 $(document).ready(function (){
          $("#simple-confirm").click(function (event) {
          swal({   
                title: "¿Seguro que lo desea eliminar?",   
                text: "Esta acción no se puede deshacer y eliminará en cascada los puestos relacionados",   
                type: "warning",   
                showCancelButton: true,   
                confirmButtonColor: "#DD6B55",   
                confirmButtonText: "Sí, eliminar registro!",   
                cancelButtonText: "Cancelar",   
                closeOnConfirm: false,   
                closeOnCancel: false 
              }, 
                function(isConfirm){   
                  if (isConfirm) {     
                    $('form[name="form"]').submit();
                    swal("Eliminando", "Se eliminará el archivo", "success");   
                  } else {     
                    swal("Cancelado", "Se ha cancelado la operación", "error");   
                  } 
              });
        });
      });

</script>
{% endblock %}