   <link rel="stylesheet" href="{{asset('css/square/square.css')}}">
  <script src="{{asset('js/icheck.min.js')}}"></script>
  <script>
    $(document).ready(function(){
      $('input').iCheck({
        checkboxClass: 'icheckbox_square',
        disabledClass: 'disabled',
        increaseArea: '20%' // optional
      });
    });
  </script>
  <script src="{{asset('js/tipo_puesto_click.js')}}"></script>
        {{ form_start(form, { 'attr': {'class' : 'ajaxFormTipoPuesto'}}) }}
    	{{form_row(form.nombrePuesto) }}
    	{{form_row(form.descripcion) }}

    <h2>Permisos</h2>
    {% set array_length = (form.permisos.vars.choices) | length %}
    {% set middle = (array_length / 2) |round(0, 'ceil') %}
      <div class="row">
        <div class="col-sm-6 col-md-6">
          <div class="form-group">
                 {% for i in 1..middle %}
                  {{ form_row(form.permisos[i]) }}
                {% endfor %}

          </div>
        </div>
        <div class="col-sm-6 col-md-6">
          <div class="form-group">
              <h2></h2>
          		 {% for i in middle..array_length %}
                  {{ form_row(form.permisos[i]) }}
                {% endfor %}
          </div>
        </div>
      </div>

    {{ form_end(form) }}
