{% extends '::base.html.twig' %}

{% block title %}
    Mostrar Tipo Puesto
{% endblock %}
{% block body -%}
    <h1>Tipo Puesto</h1>

    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Nombre Puesto</th>
                <td>{{ entity.nombrePuesto }}</td>
            </tr>
            <tr>
                <th>Descripción</th>
                <th>{{ entity.descripcion}}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
     <li>
        <a class="btn btn-primary" href="{{ path('tipopuesto_new_post') }}">
            Crear otro tipo de puesto
        </a>
    </li>
    <li>
        <a class="btn btn-default" href="{{ path('tipopuesto') }}">
            Mostrar todos
        </a>
    </li>
    <li>
        <a class="btn btn-warning" href="{{ path('tipopuesto_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
