{% extends '::base.html.twig' %}
{% block javascripts %}
    <script>
        $(document).ready(function (){
            $("#simple-confirm").click(function (event) {
            event.stopPropagation();
            var message = `
            ¿Seguro que desea eliminar las horas registradas?
            La información relacionada puede verse afectada.
            <b>Esta acción no se puede deshacer</b>
            `
            options = {
              ok: "Sí, deseo eliminar la información",
              cancel: "Cancelar"
            }
            $.dialog.confirm(message, options).onClose(function (response) {
              if (response) {
                $.dialog.alert("Se ha eliminado el registro").autoClose(2000);
                document.form.submit();
              } else {
                $.dialog.alert("Se ha cancelado la operación").autoClose(2000);
              }
            });
          });

        });

        $(document).ready(function() { 
            $("#appbundle_registrohoras_fechaHoras_day").select2({ width: '8%' }); 
            $("#appbundle_registrohoras_fechaHoras_month").select2({ width: '8%' }); 
            $("#appbundle_registrohoras_fechaHoras_year").select2({ width: '10%' });           
        });
    
    </script>

{% endblock %}

{% block body -%}
    <h1>Editar Registro de horas</h1>
    {% form_theme edit_form _self %}
  
    {{ form_start(edit_form)}}
    {{ form_row(edit_form.proyectoPresupuesto)}}        
    {{ form_row(edit_form.fechaHoras, { 'style': 'inline' })}}
    {{ form_row(edit_form.cliente)}}  
    {{ form_row(edit_form.actividad)}}
    {{ form_row(edit_form.horasInvertidas)}}  
    {{ form_row(edit_form.ingresadoPor)}}
    {{ form_row(edit_form.horasExtraordinarias)}}  
    

    {{form_end(edit_form)}}
        <ul class="record_actions">
    <li>
        <a class="btn btn-primary" href="{{ path('registrohoras') }}">
           Ver todos los registros
        </a>
    </li>
    {% if is_granted('ROLE_ELIMINAR_HORAS') %}
        <li><button id="simple-confirm" class="btn btn-danger">Eliminar</button> </li>
   
   <div class="modal">
      <div class="dialog confirm">
          <h1>Confirmación de eliminación</h1>
          <div class="msg"></div>
          <div class="form-group toolbar">
            <button class="btn btn-default cancel" type="button" data-default="Cancel">Cancelar</button>
            <button class="btn btn-danger ok" type="submit" data-default="OK">Eliminar</button>
          </div>
        </div>
        <div class="dialog alert">
        <h1>Alerta</h1>
          <div class="msg"></div>
          <div class="form-group toolbar">
            <button class="btn btn-primary cancel" type="submit">OK</button>
          </div>
        </div>
        {{form(delete_form)}}
    </div>
   
    {% endif %}
</div>
</ul>
{% endblock %}
