{% extends '::base.html.twig' %}
{% block javascripts %}
    <script>
        $(document).ready(function (){
          $("#simple-confirm").click(function (event) {
          swal({   
                title: "¿Seguro que lo desea eliminar?",   
                text: "Esta acción no se puede deshacer",   
                type: "warning",   
                showCancelButton: true,   
                confirmButtonColor: "#DD6B55",   
                confirmButtonText: "Sí, eliminar registro!",   
                cancelButtonText: "Cancelar",   
                closeOnConfirm: false,   
                closeOnCancel: false 
              }, 
                function(isConfirm){   
                  if (isConfirm) {     
                    $('form[name="form"]').submit();
                    swal("Eliminando", "Se eliminará el archivo", "success");   
                  } else {     
                    swal("Cancelado", "Se ha cancelado la operación", "error");   
                  } 
              });
        });
        });

        $(document).ready(function() { 
            $("#appbundle_registrohoras_fechaHoras_day").select2({ width: '8%' }); 
            $("#appbundle_registrohoras_fechaHoras_month").select2({ width: '8%' }); 
            $("#appbundle_registrohoras_fechaHoras_year").select2({ width: '10%' });           
        });
    
    </script>

{% endblock %}

{% block body -%}
    <h1>Editar Registro de horas</h1>
    {% form_theme edit_form _self %}
  
    {{ form_start(edit_form)}}
    {{ form_row(edit_form.proyectoPresupuesto)}}        
    {{ form_row(edit_form.fechaHoras, { 'style': 'inline' })}}
    {{ form_row(edit_form.cliente)}}  
    {{ form_row(edit_form.actividad)}}
    {{ form_row(edit_form.horasInvertidas)}}  
    {{ form_row(edit_form.ingresadoPor)}}
    {{ form_row(edit_form.horasExtraordinarias)}}  
    

    {{form_end(edit_form)}}
        <ul class="record_actions">
    <li>
        <a class="btn btn-primary" href="{{ path('registrohoras') }}">
           Ver todos los registros
        </a>
    </li>
    {% if is_granted('ROLE_ELIMINAR_HORAS') %}
        <li><button id="simple-confirm" class="btn btn-danger">Eliminar</button> </li>
   
   <div class="modal">
        {{form(delete_form)}}  
    </div>
   
    {% endif %}
</div>
</ul>
{% endblock %}
