{% extends '::base.html.twig' %}

{% block link %}
    <li><a href="{{path('homepage')}}"><i class="fa fa-link"></i>Dashboard</a></li>
     <li><a href="{{path('registrohoras')}}"><i class="fa fa-link"></i>Listado Registro Horas</a></li>
    <li class="active"></i>Editar Registro</li>
{% endblock %}

{% block javascripts %}
    <script src="{{asset('js/confirm-dialog.js')}}"></script>
    <script>
        $(document).ready(function() { 
            $("#appbundle_registrohoras_fechaHoras_day").select2({ width: '8%' }); 
            $("#appbundle_registrohoras_fechaHoras_month").select2({ width: '8%' }); 
            $("#appbundle_registrohoras_fechaHoras_year").select2({ width: '10%' });           
        });
    
    </script>

{% endblock %}

{% block body -%}
    <h1>Editar Registro de horas</h1>
    {% form_theme edit_form _self %}
  
    {{ form_start(edit_form)}}
    {{ form_row(edit_form.proyectoPresupuesto)}}        
    {{ form_row(edit_form.fechaHoras, { 'style': 'inline' })}}
    {{ form_row(edit_form.cliente)}}  
    {{ form_row(edit_form.actividad)}}
    {{ form_row(edit_form.horasInvertidas)}}  
    {{ form_row(edit_form.ingresadoPor)}}
    {{ form_row(edit_form.horasExtraordinarias)}}  
    

    {{form_end(edit_form)}}
        <ul class="record_actions">
    <li>
        <a class="btn btn-primary" href="{{ path('registrohoras') }}">
           Ver todos los registros
        </a>
    </li>
    {% if is_granted('ROLE_ELIMINAR_HORAS') %}
        <li><button id="simple-confirm" class="btn btn-danger">Eliminar</button> </li>
   
   <div class="modal">
        {{form(delete_form)}}  
    </div>
   
    {% endif %}
</div>
</ul>
{% endblock %}
