{% extends '::base.html.twig' %}
{% block javascripts %}
 <script src="{{asset('js/bootbox.min.js')}}"></script>
    <script>
        $(document).on("click", ".confirm", function(e) {
            bootbox.dialog({
                message: "¿Seguro que desea eliminar el registro de las horas ingresadas?",
                title: "Confirmar eliminación",
                buttons: {
                    cancel: {
                      label: "Cancelar",
                      className: "btn-primary",
                      callback: function() {
                       
                      }
                    },
                    main: {
                      label: "Eliminar",
                      className: "btn-danger",
                      callback: function() {
                        $('form[name="form"]').submit();            
                        }
                    },
                }
            });
        });
    </script>
}
{% endblock %}

{% block body -%}
    <h1>Editar Registro de horas</h1>
    {% form_theme edit_form _self %}
  
    {{ form_start(edit_form)}}
    {{ form_row(edit_form.proyectoPresupuesto)}}
    
     <div class="row">
         <div class="col-md-6">
     {% block appbundle_registrohoras_fechaHoras %}
            <div class="form-inline">
                
              {{ form_row(edit_form.fechaHoras)}}
             </div>
           
     {% endblock %}
     	</div>
     </div>
      {{ form_row(edit_form.cliente)}}
      {{ form_row(edit_form.actividad)}}
      {{ form_row(edit_form.horasInvertidas)}}
      {{ form_row(edit_form.ingresadoPor)}}
      {{ form_row(edit_form.submit)}}

    {{ form_end(edit_form)}}

        <ul class="record_actions">
    <li>
        <a class="btn btn-primary" href="{{ path('registrohoras') }}">
           Ver todos los registros
        </a>
    </li>
    <li> </li>
    <li><a class="btn btn-danger confirm">Eliminar</a></li>
    {{ form(delete_form) }}
</ul>
{% endblock %}
