{% extends '::base.html.twig' %}

{% block header %}
    Listado completo de las horas invertidas
{% endblock %}

{% block link %}
    <li><a href="{{path('homepage')}}"><i class="fa fa-link"></i>Dashboard</a></li>
    <li class="active"></i>Listado Registro</li>
{% endblock %}

{% block title %}
    Listado Horas
{% endblock %}

{% block javascriptDataTables %}

    <script src = {{asset('js/dataTablesInit.js')}}>
    </script>
{% endblock %}

{% block body -%}

    <br>
    <br>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Horas Invertidas</th>
                <th>Cliente </th>
                <th>Realizadas por </th>
                <th>Presupuesto </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>

                <td>{% if entity.fechaHoras %}{{ entity.fechaHoras|date('d-m-Y') }}{% endif %}</td>
                <td>{{ entity.horasInvertidas }}</td>
                <td>{{ entity.cliente }} </td>
                <td>{{ entity.ingresadoPor }} </td>
                <td>{{ entity.proyectoPresupuesto }}</td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-xs btn-info" href="{{ path('registrohoras_show', { 'id': entity.id }) }}">Mostrar</a>
                        </li>
                    </ul>
                </td>

            </tr>
        {% endfor %}
        </tbody>
    </table>


    <a class="btn btn-default btn-block" href="{{ path('registrohoras_new') }}">
       Crear nuevo registro
    </a>
    <br>
    <br>

    {% endblock %}
