{% extends '::base.html.twig' %}

{% block header %}
    Listado completo de las horas invertidas
{% endblock %}

{% block link %}
    <li><a href="{{path('homepage')}}"><i class="fa fa-link"></i>Dashboard</a></li>
    <li class="active"></i>Listado Registro</li>
{% endblock %}

{% block body -%}

    <br>
    <br>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Horas Invertidas</th>
                <th>Cliente </th>
                <th>Realizadas por </th>
                <th>Aprobadas </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
               
                <td>{% if entity.fechaHoras %}{{ entity.fechaHoras|date('d-m-Y') }}{% endif %}</td>
                <td>{{ entity.horasInvertidas }}</td>
                <td>{{ entity.cliente }} </td>
                <td>{{ entity.ingresadoPor }} </td>
                <td>
                    {% if entity.aprobado %}
                        <a class="btn btn-sm btn-primary">Sí</a>
                    {% else %}
                        <a class="btn btn-sm btn-danger">No</a>
                    {% endif %}
                </td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-xs btn-info" href="{{ path('registrohoras_show', { 'id': entity.id }) }}">Mostrar</a>
                        </li>
                        {% if is_granted('ROLE_EDITAR_HORAS') %}
                        <li>
                            <a class="btn btn-xs btn-warning" href="{{ path('registrohoras_edit', { 'id': entity.id }) }}">Editar</a>
                        </li>
                        {% endif %}
                    </ul>
                </td>
           
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
    <a class="btn btn-default btn-block" href="{{ path('registrohoras_new') }}">
       Crear nuevo registro
    </a>
    <br>
    <br>
  
    {% endblock %}
