{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Listado completo de las horas invertidas</h1>
    <br>
    <br>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Fecha</th>
                <th>Horas Invertidas</th>
                <th>Cliente </th>
                <th>Realizadas por </th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
               
                <td>{% if entity.fechaHoras %}{{ entity.fechaHoras|date('d-m-Y') }}{% endif %}</td>
                <td>{{ entity.horasInvertidas }}</td>
                <td>{{ entity.cliente }} </td>
                <td>{{ entity.ingresadoPor }} </td>
                <td>
                    <ul>
                        <li>
                            <a class="btn btn-xs btn-info" href="{{ path('registrohoras_show', { 'id': entity.id }) }}">Mostrar</a>
                        </li>
                        <li>
                            <a class="btn btn-xs btn-warning" href="{{ path('registrohoras_edit', { 'id': entity.id }) }}">Editar</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        
    <a class="btn btn-default btn-block" href="{{ path('registrohoras_new') }}">
       Crear nuevo registro
    </a>
    <br>
    <br>
  
    {% endblock %}
