{% extends '::base.html.twig' %}
{% block link %}
    <li><a href="{{path('homepage')}}"><i class="fa fa-link"></i>Dashboard</a></li>
     <li><a href="{{path('registrohoras')}}"><i class="fa fa-link"></i>Listado Registro Horas</a></li>
    <li class="active"></i>Nuevo Registro</li>
{% endblock %}
{% block javascripts %}
      <script>
        $(document).ready(function() { 
            $("#appbundle_registrohoras_fechaHoras_day").select2({ width: '8%' }); 
            $("#appbundle_registrohoras_fechaHoras_month").select2({ width: '8%' }); 
            $("#appbundle_registrohoras_fechaHoras_year").select2({ width: '10%' });           
        });
          
    </script>
    
    <script src="{{asset('js/live-counter.js')}}"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/animation.css')}}">
{% endblock %}

{% block body -%}
    <h1>Nuevo Registro de horas invertidas</h1>

    {{ form_start(form) }}

     
    {{ form_row(form.proyectoPresupuesto)}}        
    {{ form_row(form.fechaHoras, { 'style': 'inline' })}}
    {{ form_row(form.cliente)}}  
    {{ form_row(form.horasActividad)}}  
    {{ form_row(form.ingresadoPor)}}
    {{ form_row(form.horasExtraordinarias)}}  
    <div class="row">
        <div class="col-sm-5 col-md-5">
            <div class="form-group">
               {{form_row(form.submitAndSave)}}
            </div>
        </div>
       <div class="col-sm-4 col-md-4">
            <div class="form-group">
                {{form_row(form.submit)}}
            </div>
        </div>
        <div class="col-sm-3 col-md-3">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="{{ path('registrohoras') }}">
                    Ver todas las horas ingresadas
                </a>
            </div>
        </div>
    </div>
    
    {{form_end(form)}}
    <br>
    <br>
    <br>
{% endblock %}
