{% extends '::base.html.twig' %}
{% block link %}
    <li><a href="{{path('homepage')}}"><i class="fa fa-link"></i>Dashboard</a></li>
     <li><a href="{{path('registrohoras')}}"><i class="fa fa-link"></i>Listado Registro Horas</a></li>
    <li class="active"></i>Nuevo Registro</li>
{% endblock %}
{% block javascripts %}
      <script>
        $(document).ready(function() {
         var javaQuery = window.matchMedia( "(max-width: 450px)" );
        if (!javaQuery.matches) {
           $("#appbundle_registrohoras_fechaHoras_day").select2({ width: '8%' });
            $("#appbundle_registrohoras_fechaHoras_month").select2({ width: '8%' });
            $("#appbundle_registrohoras_fechaHoras_year").select2({ width: '10%' });
        }

        });

    </script>

    <script src="{{asset('js/live-counter.js')}}"></script>
    <script>
     document.getElementsByName('appbundle_registrohoras')[0].onsubmit = function(e) {
        document.getElementById('appbundle_registrohoras_submitAndSave').style.visibility = 'hidden';
        document.getElementById('appbundle_registrohoras_submit').style.visibility = 'hidden';
      }


    </script>
    <script>
        //area

        // When area gets selected ...
        $(document).on('change', 'select', function(element) {
          var id = (element.target.id);
          // ... retrieve the corresponding form.
          var $form = $(this).closest('form');
          // Simulate form data, but only include the area sport value.
          var data = {};
          var e = element.target;
          var value = e.options[e.selectedIndex].value;
          data['area'] = value;
          var idActividad = id.substring(0, id.lastIndexOf('_')) + '_actividad';
          var actividad = $('#'+idActividad);
          console.log(idActividad);
          console.log(actividad);
          console.log(data);
          // Submit data via AJAX to the form's action path.
          $.ajax({
            url : 'actividad/area',
            type: $form.attr('method'),
            data : data,
            success: function(data) {
              console.log(data);
                //remove previous options
                actividad.empty().select2();
                //create new options
                for (var key in data) {
                    var opt = new Option(data[key], key,  false, false);
                    actividad.append(opt);
                }
                console.log('finish');
                //update select2
                actividad.trigger('change');
            }
          });
        });
        </script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{asset('css/animation.css')}}">
{% endblock %}

{% block title %}
    Registro Horas
{% endblock %}

{% block body -%}
    <h1>Nuevo Registro de horas invertidas</h1>

    {{ form_start(form) }}


    {{ form_row(form.proyectoPresupuesto)}}
    {{ form_row(form.fechaHoras)}}
    {{ form_row(form.cliente)}}
    {{ form_row(form.horasActividad) }}

    {{ form_row(form.ingresadoPor)}}
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="form-group">
               {{form_row(form.submitAndSave)}}
            </div>
        </div>
       <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="form-group">
                {{form_row(form.submit)}}
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4">
            <div class="form-group">
                <a class="btn btn-default btn-block" href="{{ path('registrohoras') }}">
                    Ver todas las horas ingresadas
                </a>
            </div>
        </div>
    </div>

    {{form_end(form)}}
    <br>
    <br>
    <br>
{% endblock %}
