{% extends '::base.html.twig' %}

{% block body -%}
    <br>
    <h1>Registro Horas</h1>
    
    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Fecha</th>
                <td>{{ entity.fechaHoras|date('d-m-Y') }}</td>
            </tr>
             <tr>
                <th>Proyecto  Presupuesto asignado</th>
                <td>{{ entity.proyectoPresupuesto }}   <a class="btn btn-info btn-xs" href="{{ path('proyectopresupuesto_show', { 'id': entity.proyectoPresupuesto.id }) }}">
                     Mostrar
                </a></td>
            </tr>
            <tr>
                <th>Horas Invertidas</th>
                <td>{{ entity.horasInvertidas }}</td>
            </tr>
            <tr>
                <th>Actividad</th>
                <td>{{ entity.actividad }}</td>
            </tr>
              <tr>
                <th>Cliente</th>
                <td>{{ entity.cliente }}</td>
            </tr>
             <tr>
                <th>Ingresado Por</th>
                <td>{{ entity.ingresadoPor }}</td>
            </tr>

        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a class="btn btn-primary" href="{{ path('registrohoras_new') }}">
           Ingresar nuevo registro
        </a>
    </li>
    <br>
    <li>
        <a class="btn btn-default" href="{{ path('registrohoras') }}">
            Ver todos los ingresos
        </a>
    </li>
    <br>
    <li>
        <a class="btn btn-warning" href="{{ path('registrohoras_edit', { 'id': entity.id }) }}">
            Editar
        </a>
    </li>
    <br>
    {% if is_granted('ROLE_GERENTE') %}
        <li>{{ form(delete_form) }}</li>
    {% endif %}
</ul>
<br>
<br>
{% endblock %}
