{% extends '::base.html.twig' %}


{% block javascriptDataTables %}

    <script src = {{asset('js/dataTablesInit.js')}}>
    </script>
{% endblock %}

{% block body -%}
    <br>
    <h1>Listado Horas Presupuestadas</h1>

    <table class="table table-striped table-hover">
        <thead>
            <tr>
                <th>Horas Presupuestadas</th>
                <th>Área</th>
                <th>Cliente</th>
                <th>Fecha Creación</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td>{{ entity.horasPresupuestadas }}</td>
                <td>{{ entity.area }}</td>
                <td>{{ entity.cliente }}</td>
                <td>{% if entity.fechaCreacion %}{{ entity.fechaCreacion|date('Y/m/d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a class="btn btn-xs btn-default" href="{{ path('horaspresupuesto_show', { 'id': entity.id }) }}">Mostrar</a>
                    </li>
                    <li>
                        <a class="btn btn-xs btn-default" href="{{ path('horaspresupuesto_edit', { 'id': entity.id }) }}">Editar</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-default btn-block" href="{{ path('horaspresupuesto_new') }}">
        Crear nuevo registro
    </a>

    {% endblock %}
