{% block javascripts %}
    <script src="{{asset('js/confirm-inside-dialog.js')}}"></script>
{% endblock %}
    <h1>Registro Horas Presupuestadas</h1>

    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Código</th>
                <td>{{ entity.__toString }}</td>
            </tr>
            <tr>
                <th>Horas Presupuestadas</th>
                <td>{{ entity.horasPresupuestadas }}</td>
            </tr>
            <tr>
                <th>Fecha creación</th>
                <td>{{ entity.fechaCreacion|date('d-m-Y H:i:s') }}</td>
            </tr>
             <tr>
                <th>Área</th>
                <td>{{ entity.area }}</td>
            </tr>
              <tr>
                <th>Cliente</th>
                <td>{{ entity.cliente }}</td>
            </tr>
             <tr>
                <th>Usuario asignado</th>
                <td>{{ entity.usuario }}</td>
            </tr>
            <tr>
                <th>Proyecto</th>
                <td>{{ entity.proyecto}}</td>
            </tr>

        </tbody>
    </table>

     <div class="row">
        {% if is_granted('ROLE_EDITAR_PRESUPUESTO') %}
        <div class="col-xs-12 col-sm-12 col-md-6">
            <a class="btn btn-warning btn-block" href="{{ path('horaspresupuesto_edit', { 'id': entity.id }) }}">
                 Editar
            </a>
        </div>
         {% endif %}
       {% if is_granted('ROLE_ELIMINAR_PRESUPUESTOS') %}
        <div class="cols-xs-12 col-sm-12 col-md-6">
            <button id="inside-confirm" class="btn btn-danger btn-block">Eliminar</button>

           <div class="modal">
                {{form(delete_form, {'name':'time'})}}
            </div>
        </div>
        {% endif %}
    </div>
