{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Registro Horas Presupuestadas</h1>

    <table class="table table-striped table-hover">
        <tbody>
            <tr>
                <th>Código</th>
                <td>{{ entity.__toString }}</td>
            </tr>
            <tr>
                <th>Horas Presupuestadas</th>
                <td>{{ entity.horasPresupuestadas }}</td>
            </tr>
            <tr>
                <th>Fecha creación</th>
                <td>{{ entity.fechaCreacion|date('d-m-Y H:i:s') }}</td>
            </tr>
             <tr>
                <th>Actividad</th>
                <td>{{ entity.actividad }}</td>
            </tr>
              <tr>
                <th>Cliente</th>
                <td>{{ entity.cliente }}</td>
            </tr>
            
             <tr>
                <th>Usuarios asignado</th>
                <td>{{ entity.usuario }}</td>
            </tr>
         
            <tr>
                <th>Proyecto</th>
                <td>{{ entity.proyecto}}</td>
            </tr>
        </tbody>
    </table>
   
     <div class="row">
        {% if is_granted('ROLE_EDITAR_HORAS') %}
        <div class="col-xs-12 col-sm-12 col-md-6">
            <a class="btn btn-warning btn-block" href="{{ path('horaspresupuesto_edit', { 'id': entity.id }) }}">
                 Editar
            </a>
        </div>
         {% endif %}
       {% if is_granted('ROLE_ELIMINAR_HORAS') %}
        <div class="cols-xs-12 col-sm-12 col-md-6">
              <a class="btn btn-danger btn-block" href="{{ path('horaspresupuesto_edit', { 'id': entity.id }) }}">
                    Editar
                </a>
                {{ form(delete_form) }}
        </div>
        {% endif %}
    </div>
 
{% endblock %}
