{% extends '::base.html.twig' %}


{% block javascripts %}

<script src="{{asset('js/ajaxPuesto.js')}}"></script>
<script src="{{ asset('js/jquery.bsAlerts.min.js')}}"></script>
<script>
ajaxTipoPuesto();
ajaxDepartamento();
</script>
<script>
$(document).ready(function() { 
    $("#userbundle_tipopuesto_puesto").select2({ width: '100%' });           
});
</script>

{% endblock %}

{% block title %}
  Actualizar Puesto
{% endblock %}


{% block body %}
   
    {{ form_start(form) }}
    
                 
      <h1>Registro del Puesto</h1>
      <hr class="colorgraph">
      
      <div data-alerts="alerts" data-titles="{'warning': '<em>Warning!</em>'}" data-ids="myid" data-fade="3000"></div>
      {{ form_row(form.tipoPuesto)}}
      {% if is_granted('ROLE_CREAR_PUESTO_Y_TIPO') %}
      <button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#modalTipoPuesto">
           Crear nuevo tipo puesto
          </button>
      {% endif %}
      {{ form_row(form.departamento)}}
      {% if is_granted('ROLE_CREAR_DEPARTAMENTO') %}
      <button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#modalDepartamento">
           Crear nuevo departamento
          </button>
      {% endif %}
       {% form_theme form _self %}

	  
    {{form_row(form.usuario)}}

     <hr class="colorgraph">
   
    {{ form_end(form)}}
{% if is_granted('ROLE_CREAR_PUESTO_Y_TIPO') %}
  {% include 'UserBundle:TipoPuesto:modal_tipoPuesto.html.twig' %}
{% endif %}
{% if is_granted('ROLE_CREAR_DEPARTAMENTO') %}
  {% include 'UserBundle:Departamento:modal_departamento.html.twig' %}
{% endif %}

{% endblock %}
