{% extends '::base.html.twig' %}


{% block javascripts %}

<script src="{{asset('js/ajaxPuesto.js')}}"></script>
<script src="{{ asset('js/jquery.bsAlerts.min.js')}}"></script>
<script>
ajaxTipoPuesto();
ajaxDepartamento();
</script>


{% endblock %}


{% block body %}
   
    {{ form_start(form) }}
    
                 
      <h1>Registro del Puesto</h1>
      <hr class="colorgraph">
      
      <div data-alerts="alerts" data-titles="{'warning': '<em>Warning!</em>'}" data-ids="myid" data-fade="3000"></div>
      {{ form_row(form.tipoPuesto)}}
      <button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#modalTipoPuesto">
           Crear nuevo tipo puesto
          </button>
      {{ form_row(form.departamento)}}
      <button type="button" class="btn btn-xs btn-default" data-toggle="modal" data-target="#modalDepartamento">
           Crear nuevo departamento
          </button>

       {% form_theme form _self %}

    {% block _userbundle_puesto_date %}
        <div class="form-inline">
            
             {{ form_row(form.date) }}
         </div>
       
    {% endblock %}
	  
    

     <hr class="colorgraph">
   
    {{ form_end(form)}}

{% include 'UserBundle:TipoPuesto:modal_tipoPuesto.html.twig' %}
{% include 'UserBundle:Departamento:modal_departamento.html.twig' %}
{% endblock %}
