{% extends '::base.html.twig' %}
    {% block javascriptDataTables %}
    
    <script src = {{asset('js/dataTablesInit.js')}}>
    </script>
    {% endblock %}

    {% block body -%}
        <h1>Usuarios de {{app.user.nombre}} {{app.user.apellidos}}</h1>
        <table class="table table-striped table-hover">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Apellidos</th>
                    <th>Puesto</th>
                    <th>Acción</th>
                    
                </tr>
            </thead>
            <tbody>
            
                {% for usuario in usuarios %}
                
                <tr>
                    <td>{{usuario.usuarioPertenece.nombre}} </td>
                    <td>{{usuario.usuarioPertenece.apellidos}} </td>
                    <td>
                    {% if usuario.usuarioPertenece.puestos is defined %}
                        {{usuario.usuarioPertenece.puestos.last}}
                    {% endif %}
                    </td>

                    <td>
                            <a href="{{path('revisar_horas', { 'usuario_id':usuario.usuarioPertenece.id})}}"
                            class="btn btn-info btn-sm">Revisar horas</a> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
      
        <br>
        <br>
        <br>
    {% endblock %}
